<div class="page-width">
  {% paginate search.results by 16 %}
  <div class="grid search-header">
    <div class="grid__item medium-up--one-whole text-center">
      {% if search.performed %}
        <h1>Your search for “{{search.terms}}” revealed the following:</h1>
      {% else %}
        <h1>{{ 'general.search.title' | t }}</h1>
      {% endif %}

      {% include 'search-form--basic' %}
    </div>
  </div>

  {% if search.performed %}
      <div class="grid">
        {% for item in search.results %}
          {% if item.object_type == 'product' %}
            {% assign product = item %}
            {% include 'collection-grid-product'  with gridWidth: "grid__item small-px--one-half medium-up--one-quarter" %}
          {% else %}
            <div class="grid__item medium-up--one-quarter"><h2><a href="{{item.url}}" title="{{ item.title }}">{{ item.title }}</a></h2></div>
          {% endif %}
        {% endfor %}
      </div>

      {% if paginate.pages > 1 %}
        <div class="page-width text-center">
          {% include 'pagination' %}
        </div>
      {% endif %}
    {% endif %}

  {% endpaginate %}

</div>