{%- assign current_variant = product.selected_or_first_available_variant -%}
<form class="product-form-quick-buy" 
  action="/cart/add" 
  method="post" 
  enctype="multipart/form-data" 
  js-quick-add="container"
  onclick="_tfa.push({notify: 'event', name: 'Add_to_Bag', id: 1065515});">

  <div class="product-form__price">
    {% include 'product-price' %}
  </div>

  <div class="product-swatches">
    {% unless product.has_only_default_variant %}
      {% for option in product.options_with_values %}
        
        {% assign swatchShow = false %}      
        {% if settings.show_swatches %}

          {% assign optionName = option.name | downcase | handleize  %}
          {% assign swatchShow = true %}

        {% endif %}

        <div class="selector-wrapper js selector-wrapper--{{optionName}} {% if option.values.size == 1 %} selector-wrapper--hide {% endif %}">
          <div class="{% if swatchShow %}visually-hidden{% endif %}">
            <label for="SingleOptionSelector-{{ forloop.index0 }}">
              {{ option.name }}
            </label>
      
            <select
              id="SingleOptionSelector-{{ forloop.index0 }}"
              data-single-option-selector
              data-index="option{{ option.position }}"
              class="">
              {% for value in option.values %}
                <option
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}selected="selected"{% endif %}>
                    {{ value }}
                </option>
              {% endfor %}
            </select>
          </div>
          
          {% include 'swatch-quick-add'  %}

        </div>

      {% endfor %}
    {% endunless %}

    <select name="id" class="no-js" data-product-select>
      {% for variant in product.variants %}
        <option
          {% if variant == current_variant %}selected="selected"{% endif %}
          {% unless variant.available %}disabled="disabled"{% endunless %}
          value="{{ variant.id }}">
            {{ variant.title }}
        </option>
      {% endfor %}
    </select>

    <button class="button button--full"
      type="submit"
      name="add"
      js-quick-add="addToCart"
      data-quantity="1"
      data-product-id="{{product.first_available_variant.id}}"

      {% unless current_variant.available %}disabled="disabled"{% endunless %}>
        <span data-add-to-cart-text>
          {% if current_variant.available %}
            {{ 'products.product.add_to_cart' | t }}
          {% else %}
            {{ 'products.product.sold_out' | t }}
          {% endif %}
        </span>
    </button>

  </div>

  <div class="error error--hide"></div>

  {% unless product == empty %}
      <script type="application/json" data-product-json>
        {{ product | json }}
      </script>
    {% endunless %}
</form>

