{% assign upsell = settings.collection | default: all %}
{%- assign current_variant = product.selected_or_first_available_variant -%}

{%- if settings.mini_cart == true or settings.ajax_cart == true -%}
<div class="cart-ajax__wrapper {% if settings.mini_cart == true %}cart-ajax--mini-cart{% endif %}"
  style="opacity: 0">
  <div class="cart-ajax__background">
  </div>


  <div id="cart" class="cart-ajax" data-cart-total="{{ cart.item_count }}">
    <div class="cart-ajax__header">
      <a href="#" class="cart-ajax__close" title="Close Cart">
        {% include 'icons' with icon: 'close' %}
      </a>
      <h3 class="cart-ajax__title">Shopping Bag</h3>
    </div>

    <div class="cart-ajax__body">
      {% if settings.freeshipping_enable == true %}
        <div class="cart-ajax__freeshipping">
          <div class="freeshipping">
            <div js-freeshipping="info" class="freeshipping__info">
              {% assign freeshippingThreshold = settings.freeshipping_threshold | times: 100 | money_without_trailing_zeros %}
              {% assign freeshippingMessage = settings.freeshipping_message | replace: '$value$', freeshippingThreshold %}
              {{freeshippingMessage}}
            </div>
            <div class="freeshipping__bar">
              <div js-freeshipping="bar" class="freeshipping__percent"></div>
            </div>
          </div>
        </div>
      {% endif %}
      
      <div class="cart-ajax__list"></div>

      <div class="cart-ajax__tools">

        {% if settings.enable_gift_wrapping == true %}
          {% assign giftProduct = all_products[settings.gift_wrap_product].variants.first.id | default: false %}
          {% assign giftProductHandle = all_products[settings.gift_wrap_product].handle | default: false %}
          {%- capture giftWrapInCart -%}
            {% if cart.item_count > 0 %}
              {% for item in cart.items %}
                {% if item.product.handle == giftProductHandle %}
                  is-hidden
                {% endif %}
              {% endfor %}
            {% endif %}
          {%- endcapture -%}

          {% if giftProduct != false %}
            <div class="cart-ajax__giftwrapping">

              <div js-gift-wrap="container" class="giftwrapping {{giftWrapInCart}}">
                <div class="giftwrapping__add">

                  {% include 'icons' with icon: 'gift-box' %}

                  Gifting these items? <button name="Gift wrap add" type="button" js-gift-wrap="true" data-quantity="1" data-product-id="{{giftProduct}}" class="giftwrapping__link">Add gift wrap to my order</button>
                </div>
                <div class="giftwrapping__success">
                  Your order will be gift wrapped 
                  <button name="Gift wrap remove" type="button" js-gift-wrap="false" data-product-id="{{giftProduct}}" class="giftwrapping__remove">Remove</button>
                </div>
              </div>

            </div>
          {% endif %}
        {% endif %}

        <div class="cart-ajax__footer">

          {% if settings.shipping_text_enable == true %}
            <div class="cart-ajax__footer-text">
              Shipping <span class="cart-ajax--shipping-price">Free</span>
            </div>
          {% endif %}

          <div class="cart-ajax__footer-text">
            Subtotal
            <span class="cart-ajax--total-price">{{ cart.total_price | money_without_trailing_zeros }}</span>
          </div>

          

          <a href="/checkout" class="button button--checkout" title="Checkout">checkout</a>
          <a class="cart-ajax__international" title="International Checkout" href="https://wolfandshepherd.com/pages/international-checkout">International Checkout</a>
        </div>

        {%- if settings.collection_enable == true %}
          <div class="ajax-related is-active">
            <h5>
              Consider these items!
            </h5>
            <div class="ajax-related__container">
              {%- for product in collections[upsell].products -%}
                <div class="ajax-related__product-wrapper" js-ajax-cart="ajax-product-{{forloop.index}}">
                  <a href="{{product.url}}" title="Image of {{product.title}}" class="ajax-related__product-image" style="background-image:url({{product.featured_image.src | img_url: '440x'}})"></a>

                  <div class="ajax-related__text">
                    <a href="{{product.url}}" class="h5 ajax-related__product-title" title="{{product.title}}">{{product.title}}</a>
                    {% include 'ajaxcart-product-form' %}
                  </div>
                </div>
              {%- endfor -%}
            </div>
          </div>
        {%- endif -%}

      </div>
    </div>
  </div>
</div>
{%- endif -%}


