{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

<div class="grid">
    <div class="medium-up--one-half grid__item">
      {% if featured_image.src != blank %}
        <img src="{{ featured_image | img_url: '480x480' }}" alt="{{ featured_image.alt | escape }}" data-product-featured-image>
      {% endif %}
    </div>

    <div class="medium-up--one-half grid__item">


      <h1 class="product-header__title {% if product.title contains " | " %} no-marginb {% endif %}">{{ product.title | split:" || " | first}}</h1>
      {% if product.title contains " | " %}
      <p class="product-header__subtitle uppercase">{{ product.title | split:" || " | last }}</p>
      {% endif %}
      
      {% if product.vendor != blank %}
        <p>{{ product.vendor }}</p>
      {% endif %}

      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <meta itemprop="price" content="{{ product.price | divided_by: 100.00 }}">
        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

        <form action="/cart/add" method="post" enctype="multipart/form-data">
          {% unless product.has_only_default_variant %}
            {% for option in product.options_with_values %}
              <div class="selector-wrapper js">
                <label for="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}">
                  {{ option.name }}
                </label>

                <select
                  id="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}"
                  data-single-option-selector
                  data-index="option{{ option.position }}">
                  {% for value in option.values %}
                    <option
                      value="{{ value | escape }}"
                      {% if option.selected_value == value %}selected="selected"{% endif %}>
                        {{ value }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            {% endfor %}
          {% endunless %}

          <select name="id" class="no-js" data-product-select>
            {% for variant in product.variants %}
              <option
                {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                {% unless variant.available %}disabled="disabled"{% endunless %}
                value="{{ variant.id }}">
                  {{ variant.title }}
              </option>
            {% endfor %}
          </select>

          <label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
          <input type="number" id="Quantity-{{ section.id }}" name="quantity" value="1" min="1">

          <div class="grid">
          <div class="grid__item medium-up--one-whole">
            <div class="grid--full price-block">
              <div class="grid__item medium-up--three-eighths">
                <div data-price-wrapper class="price-wrapper">
                  {% if product.compare_at_price_max > product.price %}
                    <div class="compare_at_price">Was
                      {% if current_variant.compare_at_price > current_variant.price %}
                        {{ current_variant.compare_at_price | money }}
                      {% endif %}
                    </div>
                    <div class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</div>
                  {% endif %}

                  <div data-product-price>
                    {{ current_variant.price | money }}
                  </div>
                  
                </div>
              </div>
              <div class="grid__item medium-up--five-eighths">
                <button class="button button--full"
                type="submit"
                name="add"
                data-add-to-cart
                {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                  <span data-add-to-cart-text>
                    {% if current_variant.available %}
                      {{ 'products.product.add_to_cart' | t }}
                    {% else %}
                      {{ 'products.product.sold_out' | t }}
                    {% endif %}
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        </form>


      </div>

      <div class="rte">
        {% if product.description contains "%title-1-start%" %}
          {{ product.description | split :"%title-1-start%" | first }}
        {% else %}
          {{ product.description}}
        {% endif %}
      </div>

      {% if section.settings.show_share_buttons %}
        {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
      {% endif %}

      {% unless product == empty %}
        <script type="application/json" data-product-json>
          {{ product | json }}
        </script>
      {% endunless %}
    </div>
</div>