<div id="modal"
  class="modal 
  {% if block.settings.text_color == 'white' %} modal--white {% endif %}
  {% if block.settings.corner-block %} modal--corner-block {% endif %}" 
  data-exit-intent_delay="{{section.settings.ExitIntent_delay | plus: 0 }}"
  data-exit-intent_popup_delay="{{block.settings.ExitIntent_popup_delay | plus: 0 }}">

  <div class="modal__signup_form" 
    style="{% if block.setttings.background_color %} background-color:{{block.setttings.background_color}};{% endif %}
    {% if block.setttings.image %} background-image:url({{block.settings.image | img_url: 'master'}});{% endif %}">
    
    <h4 class="modal__title">{{block.settings.title}}</h4>

    <p class="modal__message">{{block.settings.message}}</p>


    {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <p class="form--success">Success</p>
      {% else %}


        <div class="inline-form password__input-group">
          <input type="hidden" name="contact[tags]" value="newsletter">
          <input type="email"
            name="contact[email]"
            id="Email"
            class="newsletter__input"
            value="{% if customer %}{{ customer.email }}{% endif %}"
            placeholder="Email"
            autocorrect="off"
            autocapitalize="off">
          <button type="submit" class="{% if block.settings.text_color == 'white' %}button--white {% else %} button button--pink {% endif %}" name="commit" id="Subscribe">
            Sign Up
          </button>
        </div>
      {% endif %}
    {% endform %}

    {% unless block.settings.corner-block %}
      <a class="modal__close-link" href="#">No thank you</a>
    {% endunless %}

    <a class="modal__close" href="#">{% include 'icons' with icon: 'close' %}</a>

    <div class="exitintent_message hidden">{{block.settings.ExitIntent_message}}</div>

  </div>

</div>