{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{% unless grid_item_width %}
  {% assign grid_item_width = gridWidth %}
{% endunless %}

<div class="grid__item  {{ grid_item_width }}  blog-grid-item__match-height">

  <div class="blog-grid-item">
    <a href="{{ article.url }}" 
    class="blog-grid-item__image-container lazyload" 
    data-bgset="{{article.image | img_url: '600x'}}">
    </a>
  </div>

  <div class="blog-grid-item__meta">

    <h6 class="blog-grid-item__date">
      {{ article.published_at | time_tag: format: 'month_day_year' }}
    </h6>

    <a href="{{ article.url }}">
      <h3 class="blog-grid-item__title">
        {{ article.title }}
      </h3>
    </a>

    <a href="{{ article.url }}" title="{{ 'blogs.article.read_more' | t }}" class="button--white button--white--compress">
      {{ 'blogs.article.read_more' | t }}
    </a>

    <a href="{{ article.url }}" class="button-text-and-arrow" title="{{ 'blogs.article.read_more' | t }}">
      {{ 'blogs.article.read_more' | t }} <div class="wolf-arrow wolf-arrow--right"></div>
    </a>

  </div>
</div>