{%- capture alignContent -%}
  {% case align %}
    {% when 'left' %}
      header--left
    {% when 'right' %}
      header--right
    {% else %}
      header--center
  {% endcase %}
{%- endcapture -%}
<header class="header {{ alignContent }}">
  <div class="page-width">
    {% if title != blank %}
      <h2 class="header__title" {% if color %}style="color:{{color}}"{% endif %}>{{ title | escape }}</h2>
    {% endif %}
    {% if text != blank %}
      <div class="header__text" {% if color %}style="color:{{color}}"{% endif %}>{{ text }}</div>
    {% endif %}
  </div>
</header>