{%- capture alignContent -%}
  {% case align %}
    {% when 'left' %}
      header--left
    {% when 'right' %}
      header--right
    {% else %}
      header--center
  {% endcase %}
{%- endcapture -%}

<style>
  @media only screen and (min-width: 45.85em) {
    .header--{{sectionID}} .header__container {
      margin: 0 auto;
      max-width: {{maxWidth}}%;
    }
  }
</style>

<header class="header header--{{sectionID}} {{ alignContent }} {{specialClass}}">
  <div class="page-width">
    <div class="grid">
      <div class="grid__item medium-up--one-whole {% if width != 'full-width' %}large-up--eight-twelfths large-up--push-two-twelfths{% endif %}">
        <div class="header__container {{marginBottom}}">
          {% if title != blank %}
            <h2 class="header__title">{{ title | escape }}</h2>
          {% endif %}
          {% if text != blank %}
            <div class="header__text">{{ text }}</div>
          {% endif %}

          {% if button_label != blank and button_link != blank %}
            <a href="{{ button_link }}" class="button button--white">
              {{ button_label }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>