{% if type == "section" %}
  {% assign sectionId = section.id %}
  {% assign sectionEnable = section.settings.enable %}
  {% assign sectionAlign = section.settings.alignment %}
  {% assign sectionPositionX = section.settings.positionX %}
  {% assign sectionPositionY = section.settings.positionY %}    
  {% assign sectionImage = section.settings.image | img_url: 'master'  %}
  {% assign sectionImageMobile = section.settings.mobile_image | img_url: 'master'  %}
  {% assign sectionFullWidth = section.settings.full-width %}
  {% assign sectionMarginBottom = section.settings.margin_bottom %}
  {% assign sectionTextColor = section.settings.text_color %}
  {% assign sectionTitle = section.settings.title %}
  {% assign sectionSubTitle = section.settings.subtitle  %}
  {% assign sectionText = section.settings.text %}
  {% assign sectionButtonLabel = section.settings.button_label %}
  {% assign sectionButtonLink = section.settings.button_link %}
  {% assign sectionButtonColor = section.settings.button_color %}

{% elsif type == "article" %}
  {% assign sectionId = 'null' %}
  {% assign sectionEnable = true %}
  {% assign sectionAlign = 'center' %}
  {% assign sectionImage = article.image | img_url: 'master' %}
  {% assign sectionImageMobile = article.image | img_url: 'master' %}
  {% assign sectionFullWidth = 'wrapper' %}
  {% assign sectionMarginBottom = 'margin' %}
  {% assign sectionTextColor = 'white' %}
  {% assign sectionTitle = article.title %}
  {% assign sectionSubTitle = ''  %}
  {% assign sectionText = article.content | strip_html | truncate: 100 %}
  {% assign sectionButtonLabel = 'Read more' %}
  {% assign sectionButtonLink = article.url %}
  {% assign sectionButtonColor = 'white' %}

{% else %}
  {% assign sectionId = block.id %}
  {% assign sectionEnable = block.settings.enable %}
  {% assign sectionAlign = block.settings.alignment %}
  {% assign sectionPositionX = block.settings.positionX %}
  {% assign sectionPositionY = block.settings.positionY %}   
  {% assign sectionImage = block.settings.image | img_url: 'master'  %}
  {% assign sectionImageMobile = block.settings.mobile_image | img_url: 'master'  %}
  {% assign sectionFullWidth = block.settings.full-width %}
  {% assign sectionMarginBottom = block.settings.margin_bottom %}
  {% assign sectionTextColor = block.settings.text_color %}
  {% assign sectionTitle = block.settings.title  %}
  {% assign sectionSubTitle = block.settings.subtitle %}
  {% assign sectionText = block.settings.text %}
  {% assign sectionButtonLabel = block.settings.button_label %}
  {% assign sectionButtonLink = block.settings.button_link %}
  {% assign sectionButtonColor = block.settings.button_color %}

{% endif %}

{% if sectionEnable %}
  {% if sectionFullWidth != 'full-width' %}<div class="page-width">{% endif %}
   
  <div class="hero-image hero-image--{{ sectionId }} 
    {{ sectionPositionX }} 
    {{ sectionPositionY }} 
    {{ sectionAlign }} 
    {{ sectionTextColor }}
    {{ sectionMarginBottom }} lazyload" 
    data-bgset="{{sectionImageMobile}} [(max-width: 749px)] | {{sectionImage}}">

    <div class="hero-image__wrapper">

      {% if sectionTitle != blank %}
        <h2 class="h1 hero-image__title">{{ sectionTitle | escape }}</h2>
      {% endif %}
      
      <div class="rte-setting hero-image__text">
        {% if sectionText != blank %}{{ sectionText }}{% endif %}
        {% if sectionButtonLabel != blank and sectionButtonLink != blank %}
          <a href="{{ sectionButtonLink }}" class="{{ sectionButtonColor }}">
            {{ sectionButtonLabel }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>

  {% if sectionFullWidth != 'full-width' %}</div>{% endif %}
  
{% endif %}