{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add the "Image with text" section in the theme editor.

  Theme Store required settings
  - Image
  - Heading: title of the block
  - Text: description of the block

  Theme Store optional settings
  - Button label: label associated with the button
  - Button link: link of the button
{%- endcomment -%}
{% if type == "block" %}
  {% assign sectionImage = block.settings.image %}
  {% assign sectionMarginBottom = block.settings.margin_bottom %}
  {% assign sectionLayout = block.settings.layout %}
  {% assign sectionTitle = block.settings.title %}
  {% assign sectionSupertitle = block.settings.supertitle %}
  {% assign sectionSubtitle = block.settings.subtitle %}
  {% assign sectionText = block.settings.text %}
  {% assign sectionButtonLabel = block.settings.button_label %}
  {% assign sectionButtonLink = block.settings.button_link %}
{% else %}
  {% assign sectionImage = section.settings.image %}
  {% assign sectionMarginBottom = section.settings.margin_bottom %}
  {% assign sectionLayout = section.settings.layout %}
  {% assign sectionTitle = section.settings.title %}
  {% assign sectionSupertitle = section.settings.supertitle %}
  {% assign sectionSubtitle = section.settings.subtitle %}
  {% assign sectionText = section.settings.text %}
  {% assign sectionButtonLabel = section.settings.button_label %}
  {% assign sectionButtonLink = section.settings.button_link %}
{% endif %}

{% comment %} <img src="{{section.image}}" {% endcomment %}
{% capture image_layout %}
  <div class="image-with-text__image">
    {% if sectionImage != blank %}
      {% include 'responsive-image' with
        image: sectionImage,
        max_width: 640,
        max_height: 580
      %}
    {% else %}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
  </div>
{% endcapture %}

<div class="page-width">
  <section class="image-with-text  {% if sectionImage == blank %} image-with-text--texty {% endif %} {% if sectionLayout == 'right' %}image-with-text--right{% endif %} {{ sectionMarginBottom }}">

    {% if sectionImage != blank %}
      {{ image_layout }}
    {% endif %}

    <div class="image-with-text__text">
      {% if sectionSupertitle != blank %}
        <h4>{{ sectionSupertitle | escape }}</h4>
      {% endif %}
      {% if sectionTitle != blank %}
        <h2>{{ sectionTitle | escape }}</h2>
      {% endif %}
      {% if sectionSubtitle != blank %}
        <h6>{{ sectionSubtitle | escape }}</h6>
      {% endif %}
      {% if sectionText != blank %}
        <div>{{ sectionText }}</div>
      {% endif %}
      {% if sectionButtonLabel != blank and sectionButtonLink != blank %}
        <a href="{{ sectionButtonLink }}" class="button--white button--white--compress">
          {{ sectionButtonLabel | escape }}
        </a>
      {% endif %}
    </div>

  </section>
</div>