<div class="meganav" id="Meganav-{{block.id}}" 
  style="display: none"
  data-meganav-child='{{ block.settings.meganav_parent | handle }}' {{ block.shopify_attributes }} >
  <span class="meganav__arrow"></span>
  <div class="page-width">    
    <div class="meganav__list">
      <div class="meganav__container">
        <div class="meganav__header">
          <h3>{{ block.settings.meganav_list_title}}</h3>
        </div>
        {% for i in (1..1) %}
          {% assign meganav_linklist = 'meganav_linklist_' | append: i %}
          {% assign childlist = block.settings[meganav_linklist] %}
          <ul>
            {% for link in linklists[childlist].links %}
              <li>
                <a class="meganav__link {% if link.active %}meganav__link--active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    </div>

    <div class="meganav__images">
      <div class="meganav__container">
        <div class="meganav__header">
          <h3>{{ block.settings.images_title}}</h3>
        </div>
        <div class="meganav__image-container">
          {% for i in (1..7) %}
            {% assign meganav_image_title = 'meganav_image_title_' | append: i %}
            {% assign meganav_image_link = 'meganav_image_link_' | append: i %}
            {% assign meganav_image = 'meganav_image_' | append: i %}
            {% if block.settings[meganav_image] != blank %}
              <a href="{{ block.settings[meganav_image_link] }}" class="meganav__image">
                <div class="meganav__image-center">
                  {{ block.settings[meganav_image] | img_url: '200x' | img_tag }}
                  <h6>{{ block.settings[meganav_image_title] }}</h6>
                </div>
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
