<div class="product-swatches">
  <form class="product-form-mini" action="/cart/add" method="post" enctype="multipart/form-data">

    <div class="product-form-mini__details">  
      {% unless product.has_only_default_variant %}
        {% for option in product.options_with_values %}
          
          {% assign swatchShow = false %}      
          {% if settings.show_swatches %}

            {% assign optionName = option.name | downcase | handleize  %}
            {% assign swatchShow = true %}

          {% endif %}

          <div class="selector-wrapper js selector-wrapper--{{optionName}} {% if option.values.size == 1 %} selector-wrapper--hide {% endif %}">
            <div class="{% if swatchShow %}visually-hidden{% endif %}">
              <label for="SingleOptionSelector-{{ forloop.index0 }}">
                {{ option.name }}
              </label>
        
              <select
                id="SingleOptionSelector-{{ forloop.index0 }}"
                data-single-option-selector
                data-index="option{{ option.position }}"
                class="">
                {% for value in option.values %}
                  <option
                    value="{{ value | escape }}"
                    {% if option.selected_value == value %}selected="selected"{% endif %}>
                      {{ value }}
                  </option>
                {% endfor %}
              </select>
            </div>
            
            {% include 'swatch-product'  %}

          </div>
        {% endfor %}
      {% endunless %}

      <select name="id" class="no-js" data-product-select>
        {% for variant in product.variants %}
          <option
            {% if variant == current_variant %}selected="selected"{% endif %}
            {% unless variant.available %}disabled="disabled"{% endunless %}
            value="{{ variant.id }}">
              {{ variant.title }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="product-form-mini__footer">
      <div class="product-form-mini__form-toggle">
        {%- for option in product.options_with_values -%}
          {%- if option.name == 'color' or option.name == 'Color' -%}
            <span js-swatch="color">{{option.selected_value}}</span>
          {%- endif -%}
          {%- if option.name == 'size' or option.name == 'Size' -%}
            <span js-swatch="size">{{option.selected_value}}</span>
          {%- endif -%}
        {%- endfor -%}
      </div>

      <button class="button button--full"
        type="submit"
        name="add"
        data-add-to-cart
        {% unless current_variant.available %}disabled="disabled"{% endunless %}>
          <span data-add-to-cart-text>
            {% if current_variant.available %}
              {{ 'products.product.add_to_cart' | t }}
            {% else %}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          </span>
      </button>
    </div>

    <div class="error error--hide"></div>
  </form>
</div>
