<form class="product-form" 
  action="/cart/add" 
  method="post" 
  enctype="multipart/form-data" 
  onclick="_tfa.push({notify: 'event', name: 'Add_to_Bag', id: 1065515});">
  {% if section.settings.additional_label %}
    {% comment %} 
    <div class="additional_label text-center uppercase">
      {{section.settings.additional_label}}
    </div> 
    {% endcomment %}
  {% endif %}

  <div class="product-swatches">
    {% unless product.has_only_default_variant %}
      {% for option in product.options_with_values %}
        
        {% assign swatchShow = false %}      
        {% if settings.show_swatches %}

          {% assign optionName = option.name | downcase | handleize  %}
          {% assign swatchShow = true %}

        {% endif %}

        <div class="selector-wrapper js selector-wrapper--{{optionName}} {% if option.values.size == 1 %} selector-wrapper--hide {% endif %}">
          <div class="{% if swatchShow %}visually-hidden{% endif %}">
            <label for="SingleOptionSelector-{{ forloop.index0 }}">
              {{ option.name }}
            </label>
      
            <select
              id="SingleOptionSelector-{{ forloop.index0 }}"
              data-single-option-selector
              data-index="option{{ option.position }}"
              class="">
              {% for value in option.values %}
                <option
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}selected="selected"{% endif %}>
                    {{ value }}
                </option>
              {% endfor %}
            </select>
          </div>
          
          {% include 'swatch-product'  %}

        </div>
      {% endfor %}
    {% endunless %}

    <select name="id" class="no-js" data-product-select>
      {% for variant in product.variants %}
        <option
          {% if variant == current_variant %}selected="selected"{% endif %}
          {% unless variant.available %}disabled="disabled"{% endunless %}
          value="{{ variant.id }}">
            {{ variant.title }}
        </option>
      {% endfor %}
    </select>
  </div>

  {% comment %} <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
  <input type="number" id="Quantity" name="quantity" value="1" min="1"> {% endcomment %}

  <button class="button button--full"
    type="submit"
    name="add"
    data-add-to-cart
    {% unless current_variant.available %}disabled="disabled"{% endunless %}>
      <span data-add-to-cart-text>
        {% if current_variant.available %}
          {{ 'products.product.add_to_cart' | t }}
        {% else %}
          {{ 'products.product.sold_out' | t }}
        {% endif %}
      </span>
  </button>

  <div class="error error--hide"></div>
</form>

<!-- affirm price -->
{% comment %} <p>affirm</p> {% endcomment %}
{% if product.type == 'Seconds' or product.type == 'Shoes' %}
{% unless product.tags contains 'accessories'%}
	<p class="affirm-as-low-as" data-page-type="product" data-amount="{{variant.price}}" data-affirm-color="black"></p>
{% endunless %}
{% endif %}