<nav js-nav="mobile" role="navigation" class="site-header__navigation">

  <div class="mobile-navigation">

    <div class="mobile-navigation__search">
      {% include 'search-form--basic' %}
    </div>

    <div class="mobile-navigation__list">

      <ul class="site-nav">
        {% for link in linklists[section.settings.main_linklist].links %}
          {% assign meganav = false %}
          {% comment %}
          ------------------------------------------------------------------------------
            Has meganav
          ------------------------------------------------------------------------------
          {% endcomment %}
          {% for block in section.blocks %}
            {%- if block.settings.navlink_bind == link.title  -%}
              {% comment %} {% assign meganav = true %}
              <li class="site-nav__item site-nav__item--has-meganav {% if link.active %}site-nav__link--active{% endif %}" js-mega-nav="desktop-nav">
                <a class="site-nav__link" href="{{ link.url }}">
                  {{ link.title }}
                </a>
                {% include 'meganav' %}
              </li> {% endcomment %}
            {%- endif -%}  
          {% endfor %}

          {% comment %}
          ------------------------------------------------------------------------------
            0 levels
          ------------------------------------------------------------------------------
          {% endcomment %}
          {% if link.levels == 0 and meganav != true %}
            <li class="site-nav__item" data-meganav-parent="{{ link.title | handle }}">
              <a class="site-nav__link {% if link.active %}site-nav__link--active{% endif %}" href="{{ link.url }}">
                {{ link.title }}
              </a>
            </li>

          {% comment %}
          ------------------------------------------------------------------------------
            1 level
          ------------------------------------------------------------------------------
          {% endcomment %}
          {% elsif link.levels == 1 and meganav != true %}
            <li class="site-nav__item site-nav__item--has-dropdown" data-meganav-parent="{{ link.title | handle }}">
              <a class="site-nav__link {% if link.active %}site-nav__link--active{% endif %}" href="{{ link.url }}">
                {{ link.title }}
                <span class="site-nav__link-toggle" js-open="dropdown" data-open=".site-nav__dropdown--{{forloop.index}}">open</span>
              </a>

              <ul class="site-nav__dropdown site-nav__dropdown--{{forloop.index}} navlist navlist--block">
                {% for child_link in link.links %}
                  <li class="navlist__item">
                    <a class="navlist__link" href="{{ child_link.url }}">
                      {{ child_link.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        {% endfor %}

        {% if shop.customer_accounts_enabled %}
          <li class="site-nav__item" data-meganav-parent="{{ link.title | handle }}">

            {% if customer %}
              <a class="site-nav__link {% if link.active %}site-nav__link--active{% endif %}" href="/account">
                Account
              </a>
            {% else %}
              <a class="site-nav__link {% if link.active %}site-nav__link--active{% endif %}" href="/account/login">
                Login
              </a>
            {% endif %}
          </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>




  