<!-- /snippets/social-sharing.liquid -->
<div class="social-sharing">

  <h5>
    share this story
  </h5>

  {% if settings.share_twitter %}
    <a target="_blank" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}">
      {% include 'icons' with icon: 'share_twitter' %}

      <span class="visually-hidden" aria-hidden="true">{{ 'general.social.share_on_twitter' | t }}</span>
      <span class="visually-hidden">{{ 'general.social.alt_text.share_on_twitter' | t }}</span>
    </a>
  {% endif %}

  {% if settings.share_facebook %}
    <a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}">
      {% include 'icons' with icon: 'share_facebook' %}
      <span class="visually-hidden" aria-hidden="true">{{ 'general.social.share_on_facebook' | t }}</span>
      <span class="visually-hidden">{{ 'general.social.alt_text.share_on_facebook' | t }}</span>
    </a>
  {% endif %}

  {% if settings.share_email %}
    <a href="mailto:?subject={{ share_title | url_param_escape }}&amp;body=Check out this article {{ shop.url | append: share_permalink }}." title="Share by Email">
      {% include 'icons' with icon: 'email' %}
      <span class="visually-hidden" aria-hidden="true">Email</span>
      <span class="visually-hidden">Share on Email</span>
    </a>
  {% endif %}

</div>
