{% if swatchShow %}
<h6 class="swatch__header">
  {{ option.name }}
  {%- for value in option.values -%}  
    {%- if optionName == 'color' or optionName == 'colour' -%}
      {% if option.selected_value == value %}
        <span js-swatch="color" class="swatch__header__color">{{ value }}</span>
      {% endif %}
    {%- endif -%}
  {%- endfor -%}
  {%- if option.name == 'Size' or option.name == 'size' -%}
    <span class="swatch__header__size">{% include 'icons' with icon: 'ruler' %} What size am I?</span>
  {%- endif -%}
</h6>

<div class="swatch__wrapper">
  {% for value in option.values %}  

    {% assign swatchValue = value | handleize | downcase %}
    {% assign swatchBackground = 'transparent' %}

    {% if optionName == 'color' or optionName == 'colour' %}
      {% assign swatchBackground = value | handleize | downcase %}
    {% endif%}

    <div class="swatch swatch-product swatch-product--{{ value | handleize }}
    {% if option.selected_value == value %}swatch-product--active{% endif %}
    {% if optionName == 'color' or optionName == 'colour' %}swatch-product--color{% endif %}
    {% if optionName == 'size' or optionName == 'Size' %}swatch-product--size{% endif %}" 
    data-swatch-value="{{ value | escape }}"
    style="background-size: {{swatchBackground}};"
    {% if optionName == 'color' or optionName == 'colour' %}
      data-slider="product-images__container--{{swatchBackground}}"
      data-swatch-color="{{swatchBackground}}"
    {% endif%}
    >
      {% unless optionName == 'color' or optionName == 'colour' %}
        {{ value | escape }}
      {% endunless %}
    </div>
  {% endfor %}
</div>
{% endif %}