{% if swatchShow %}
{% assign optionCount = 'option-' | append: forloop.index %}
<div class="swatch__wrapper">
  {% for value in option.values %}  

    {% assign swatchValue = value | handleize | downcase %}
    {% assign swatchBackground = 'transparent' %}

    {% if optionName == 'color' or optionName == 'colour' %}
      {% assign swatchBackground = value | handleize | downcase %}
    {% endif%}

    <button type="button" class="swatch swatch-product swatch-product--quick-add swatch-product--{{ value | handleize }}
    {% if option.selected_value == value %}is-active{% endif %}
    {% if optionName == 'color' or optionName == 'colour' %}swatch-product--color{% endif %}
    {% if optionName == 'size' or optionName == 'Size' %}swatch-product--size{% endif %}" 
    js-product-swatches="container"
    data-swatch-option="{{optionCount}}"
    data-swatch-value="{{ value | escape }}"
    name="{{value}}"
    style="background-size: {{swatchBackground}};">
      {% unless optionName == 'color' or optionName == 'colour' %}
        {{ value | escape }}
      {% endunless %}
    </button>
  {% endfor %}
</div>
{% endif %}