<div class="page-width account-page">
  <div class="grid">


    <div class="grid__item medium-up--one-whole medium-down--one-whole">
      <div class="account__header account__mobile-nav">
        <h1>Welcome Back, {{customer.first_name}}</h1>
      </div>
    </div>


    <div class="grid__item medium-up--one-quarter medium-down--one-whole">
      <ul class="account__sidebar  account__mobile-nav">

        <li class="active">
          <a href="/account" id="accountDetailsShow" class="active h4">
            Account Details
            {% include 'icons' with icon: 'arrow-right' %}
          </a>
        </li>

        <li>
          <a id="accountOrdersShow" href="/account#accountOrders" class="h4">
            Order History
            {% include 'icons' with icon: 'arrow-right' %}
          </a>
        </li>

        <li>
          <a href="/account/addresses" class="h4">
            Address Book
            {% include 'icons' with icon: 'arrow-right' %}
          </a>
        </li>

        <li class="account__sidebar__logout">{{ 'layout.customer.log_out' | t | customer_logout_link }}</li>

      </ul>
    </div>

    <div class="grid__item medium-up--three-quarters medium-down--one-whole">
      <div class="account__breadcrumb">
        {% include 'icons' with icon: 'arrow-left' %}
        Account
      </div>
    </div>

    <div id="accountOrders" class="grid__item medium-up--three-quarters medium-down--one-whole">

      <div class="account-container {% if customer.orders.size == 0 %}account-container--no-padding{% endif %}">
        <div class="account-container__header">
          <h2 class="h4">{{ 'customer.orders.title' | t }}</h2>
        </div>

        <div class="account-container__order">
          {% paginate customer.orders by 20 %}
            {% if customer.orders.size != 0 %}
              <table class="responsive-table order__table">
                <thead>
                  <tr>
                    <th>{{ 'customer.orders.order_number' | t }}</th>
                    <th>{{ 'customer.orders.date' | t }}</th>
                    {% comment %} <th>{{ 'customer.orders.payment_status' | t }}</th> {% endcomment %}
                    <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                    <th>{{ 'customer.orders.total' | t }}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in customer.orders %}
                    <tr class="responsive-table-row">
                      <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
                      <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
                      {% comment %} <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td> {% endcomment %}
                      <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                      <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
            <div class="account-container__order__empty">
              <h3>{{ 'customer.orders.none' | t }}</h3>
              <a href="/collections/all" class="button">START SHOPPPING</a>
            </div>
            {% endif %}

            {% if paginate.pages > 1 %}
              {% include 'pagination' %}
            {% endif %}

          {% endpaginate %}
        </div>
      </div>

    </div>

    <div id="accountDetails" class="grid__item medium-up--three-quarters medium-down--one-whole"> 

      <div class="account-container">
        <div class="account-container__header">
          <h2 class="h4">{{ 'customer.account.details' | t }}</h2>
        </div>

        <div class="account-container__details">
          <p class="h4">{{customer.first_name}} {{customer.last_name}}</p>
          <p class="h6">Email: {{customer.email}}</p>
        </div>
      </div>
    </div>

  </div>
</div>

{% section 'account-featured-collection' %}

