<div class="page-width account-page">
  <div class="grid">


    <div class="grid__item medium-up--one-whole medium-down--one-whole">
      <div class="account__header account__mobile-nav">
        <h1>Welcome Back, {{customer.first_name}}</h1>
      </div>
    </div>


    <div class="grid__item medium-up--one-quarter medium-down--one-whole">
      <ul class="account__sidebar  account__mobile-nav">

        <li>
          <a href="/account#account" id="accountDetailsShow" class="h4">
            Account Details
            {% include 'icons' with icon: 'arrow-right' %}
          </a>
        </li>

        <li>
          <a id="accountOrdersShow" href="/account#accountOrders" class="h4">
            Order History
            {% include 'icons' with icon: 'arrow-right' %}
          </a>
        </li>

        <li>
          <a id="accountAddressShow" href="/account/addresses#addressShow" class="active h4">
            Address Book
            {% include 'icons' with icon: 'arrow-right' %}
          </a>
        </li>

        <li class="account__sidebar__logout">{{ 'layout.customer.log_out' | t | customer_logout_link }}</li>

      </ul>
    </div>

    <div class="grid__item medium-up--three-quarters medium-down--one-whole">
      <a href="/account/addresses" class="account__breadcrumb">
        {% include 'icons' with icon: 'arrow-left' %}
        Account
      </a>
    </div>

    <div id="accountAddress" class="grid__item medium-up--three-quarters medium-down--one-whole">


      <div class="account-container">
        <div class="account-container__header">
          <h2 class="h4">{{ 'customer.account.title' | t }}</h2>
        </div>


        <div class="address">
          {% paginate customer.addresses by 5 %}

            <div id="AddressNewForm" class="hide address-form">
              <div class="address-form__wrapper">
                <div class="address-form__background">
                  <div class="form-vertical slick-form" js-form="true">
                    {% form 'customer_address', customer.new_address %}
                      <h3>{{ 'customer.addresses.add_new' | t }}</h2>

                      <label for="AddressFirstNameNew">
                        {{ 'customer.addresses.first_name' | t }}
                      </label>
                      <input type="text"
                            name="address[first_name]"
                            id="AddressFirstNameNew"
                            value="{{ form.first_name }}"
                            autocapitalize="words">

                      <label for="AddressLastNameNew">
                        {{ 'customer.addresses.last_name' | t }}
                      </label>
                      <input type="text"
                            name="address[last_name]"
                            id="AddressLastNameNew"
                            value="{{ form.last_name }}"
                            autocapitalize="words">

                      <label for="AddressCompanyNew">
                        {{ 'customer.addresses.company' | t }}
                      </label>
                      <input type="text"
                            name="address[company]"
                            id="AddressCompanyNew"
                            value="{{ form.company }}"
                            autocapitalize="words">

                      <label for="AddressAddress1New">
                        {{ 'customer.addresses.address1' | t }}
                      </label>
                      <input type="text"
                            name="address[address1]"
                            id="AddressAddress1New"
                            value="{{ form.address1 }}"
                            autocapitalize="words">

                      <label for="AddressAddress2New">
                        {{ 'customer.addresses.address2' | t }}
                      </label>
                      <input type="text"
                            name="address[address2]"
                            id="AddressAddress2New"
                            value="{{ form.address2 }}"
                            autocapitalize="words">

                      <label for="AddressCityNew">
                        {{ 'customer.addresses.city' | t }}
                      </label>
                      <input type="text"
                            name="address[city]"
                            id="AddressCityNew"
                            value="{{ form.city }}"
                            autocapitalize="words">

                      <label class="is-dropdown" for="AddressCountryNew">
                        {{ 'customer.addresses.country' | t }}
                      </label>
                      <select
                        name="address[country]"
                        id="AddressCountryNew"
                        data-default="{{ form.country }}">
                        {{ country_option_tags }}
                      </select>

                      <div id="AddressProvinceContainerNew" style="display: none">
                        <label for="AddressProvinceNew" class="is-dropdown">
                          {{ 'customer.addresses.province' | t }}
                        </label>
                        <select
                          name="address[province]"
                          id="AddressProvinceNew"
                          data-default="{{ form.province }}">
                        </select>
                      </div>

                      <label for="AddressZipNew">
                        {{ 'customer.addresses.zip' | t }}
                      </label>
                      <input type="text"
                            name="address[zip]"
                            id="AddressZipNew"
                            value="{{ form.zip }}"
                            autocapitalize="characters">

                      <label for="AddressPhoneNew">
                        {{ 'customer.addresses.phone' | t }}
                      </label>
                      <input type="tel"
                            name="address[phone]"
                            id="AddressPhoneNew"
                            value="{{ form.phone }}"
                            pattern="[0-9\-]*">

                      <div class="address-form__footer">
                        <div class="checkbox">
                          {{ form.set_as_default_checkbox }}

                          <label for="address_default_address_new">
                            {{ 'customer.addresses.set_default' | t }}
                          </label>
                        </div>

                        <div class="address-form__footer-buttons"> 
                          <button type="submit" class="button button--full">
                            {{ 'customer.addresses.add' | t }}
                          </button>

                          <button type="button" class="address-new-toggle button button--white button--full">
                            {{ 'customer.addresses.cancel' | t }}
                          </button>
                        </div>
                      </div>

                    {% endform %}
                  </div>
                </div>
              </div>
            </div>




            {% comment %} <h2 class="h4">{{ 'customer.addresses.title' | t }}</h2> {% endcomment %}

            <div class="address-list__wrapper">
              {% for address in customer.addresses %}
                <div class="address-list">
                  {% if address == customer.default_address %}
                    <p><strong>{{ 'customer.addresses.default' | t }}</strong></p>

                    {% comment %} <h3>{{customer.name}}</h3> {% endcomment %}
                  {% endif %}
                  {% comment %} {{ address | format_address }} {% endcomment %}

                  <div class="address-list__address">
                  {% if address.name %}<h3>{{address.name}}</h3>{%endif%}
                    {% if address.address1 %}<p>{{address.address1}}</p>{%endif%}
                    {% if address.address2 %}<p>{{address.address2}}</p>{%endif%}
                    {% if address.company %}<p>{{address.company}}</p>{%endif%}
                    {% if address.city %}<p>{{address.city}}{% if address.zip %}, {{address.zip}}{%endif%}</p>{%endif%}
                    {% if address.country %}<p>{{address.country}}</p>{%endif%}
                    {% if address.phone %}<p>{{address.phone}}</p>{%endif%}
                  </div>
                  {% comment %} {% if address.street %}<p>{{address.street}}</p>{%endif%} {% endcomment %}
                  {% comment %} {% if address.first_name %}<p>{{address.first_name}}</p>{%endif%} {% endcomment %}
                  {% comment %} {% if address.last_name %}<p>{{address.last_name}}</p>{%endif%} {% endcomment %}
                  {% comment %} {% if address.country_code %}<p>{{address.country_code}}</p>{%endif%} {% endcomment %}
                  {% comment %} {% if address.province %}<p>{{address.province}}</p>{%endif%} {% endcomment %}
                  {% comment %} {% if address.province_code %}<p>{{address.province_code}}</p>{%endif%} {% endcomment %}
                  {% comment %} {% if address.url %}<p>{{address.url}}</p>{%endif%} {% endcomment %}

                  <div class="address-list__footer">
                    <button type="button" class="address-edit-toggle" data-form-id="{{ address.id }}">
                      {{ 'customer.addresses.edit' | t }}
                    </button>
                    <span>|</span>
                    <button type="button" class="address-delete" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                      {{ 'customer.addresses.delete' | t }}
                    </button>
                  </div>


                  <div id="EditAddress_{{ address.id }}" class="hide address-form">
                    <div class="address-form__wrapper">
                      <div class="address-form__background">
                        <div class="form-vertical slick-form" js-form="true">
                          {% form 'customer_address', address %}

                            <h4>{{ 'customer.addresses.edit_address' | t }}</h4>

                            <label for="AddressFirstName_{{ form.id }}">
                              {{ 'customer.addresses.first_name' | t }}
                            </label>
                            <input type="text"
                                  name="address[first_name]"
                                  id="AddressFirstName_{{ form.id }}"
                                  value="{{ form.first_name }}"
                                  autocapitalize="words">

                            <label for="AddressLastName_{{ form.id }}">
                              {{ 'customer.addresses.last_name' | t }}
                            </label>
                            <input type="text"
                                  name="address[last_name]"
                                  id="AddressLastName_{{ form.id }}"
                                  value="{{ form.last_name }}"
                                  autocapitalize="words">

                            <label for="AddressCompany_{{ form.id }}">
                              {{ 'customer.addresses.company' | t }}
                            </label>
                            <input type="text"
                                  name="address[company]"
                                  id="AddressCompany_{{ form.id }}"
                                  value="{{ form.company }}"
                                  autocapitalize="words">

                            <label for="AddressAddress1_{{ form.id }}">
                              {{ 'customer.addresses.address1' | t }}
                            </label>
                            <input type="text"
                                  name="address[address1]"
                                  id="AddressAddress1_{{ form.id }}"
                                  value="{{ form.address1 }}"
                                  autocapitalize="words">

                            <label for="AddressAddress2_{{ form.id }}">
                              {{ 'customer.addresses.address2' | t }}
                            </label>
                            <input type="text"
                                  name="address[address2]"
                                  id="AddressAddress2_{{ form.id }}"
                                  value="{{ form.address2 }}"
                                  autocapitalize="words">

                            <label for="AddressCity_{{ form.id }}">
                              {{ 'customer.addresses.city' | t }}
                            </label>
                            <input type="text"
                                  name="address[city]"
                                  id="AddressCity_{{ form.id }}"
                                  value="{{ form.city }}"
                                  autocapitalize="words">

                            <label class="is-dropdown" for="AddressCountry_{{ form.id }}">
                              {{ 'customer.addresses.country' | t }}
                            </label>
                            <select
                              name="address[country]"
                              id="AddressCountry_{{ form.id }}"
                              class="address-country-option"
                              data-form-id="{{ form.id }}"
                              data-default="{{ form.country }}">
                              {{ country_option_tags }}
                            </select>

                            <div id="AddressProvinceContainer_{{ form.id }}" style="display: none">
                              <label for="AddressProvince_{{ form.id }}">
                                {{ 'customer.addresses.province' | t }}
                              </label>
                              <select
                                name="address[province]"
                                id="AddressProvince_{{ form.id }}"
                                data-default="{{ form.province }}">
                              </select>
                            </div>

                            <label for="AddressZip_{{ form.id }}">
                              {{ 'customer.addresses.zip' | t }}
                            </label>
                            <input type="text"
                                  name="address[zip]"
                                  id="AddressZip_{{ form.id }}"
                                  value="{{ form.zip }}"
                                  autocapitalize="characters">

                            <label for="AddressPhone_{{ form.id }}">
                              {{ 'customer.addresses.phone' | t }}
                            </label>
                            <input type="tel"
                                  name="address[phone]"
                                  id="AddressPhone_{{ form.id }}"
                                  value="{{ form.phone }}"
                                  pattern="[0-9\-]*">

                            <div class="address-form__footer">
                              <div class="checkbox">
                                {{ form.set_as_default_checkbox }}
                                <label for="address_default_address_{{ form.id }}">
                                  {{ 'customer.addresses.set_default' | t }}
                                </label>
                              </div>

                              <div class="address-form__footer-buttons"> 
                                <button type="submit" class="button button--full">
                                  {{ 'customer.addresses.update' | t }}
                                </button>
                                <button type="button" class="address-edit-toggle button button--white button--full" data-form-id="{{ form.id }}">
                                  {{ 'customer.addresses.cancel' | t }}
                                </button>
                              </div>
                            </div>

                          {% endform %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>



            <header role="banner" style="margin-bottom:40px">
              {% comment %} <h2 class="h4">Your Addresses</h2> {% endcomment %}
              <button type="button" class="button address-new-toggle">{{ 'customer.addresses.add_new' | t }}</button>
            </header>

            {% if paginate.pages > 1 %}
              {% include 'pagination' %}
            {% endif %}

          {% endpaginate %}
        </div>

      </div>
    </div>
  </div>
</div>
