{% comment %}
  The data-label attributes on <td> elements are mobile-friendly
  helpers used for responsive-table labels
{% endcomment %}

<div class="page-width account-page">
  <div class="grid">


    <div class="grid__item medium-up--one-whole medium-down--one-whole">
      <div class="account__header account__mobile-nav">
        <h1>Welcome Back, {{customer.first_name}}</h1>
      </div>
    </div>


    <div class="grid__item medium-up--one-quarter medium-down--one-whole">
      <ul class="account__sidebar  account__mobile-nav">

        <li>
          <a href="/account#account" id="accountDetailsShow" class="h4">
            Account Details
            {% include 'icons' with icon: 'arrow-right' %}
          </a>
        </li>

        <li>
          <a id="accountOrdersShow" href="/account#accountOrders" class="active h4">
            Order History
            {% include 'icons' with icon: 'arrow-right' %}
          </a>
        </li>

        <li>
          <a href="/account/addresses#addressShow" class="h4">
            Address Book
            {% include 'icons' with icon: 'arrow-right' %}
          </a>
        </li>

        <li class="account__sidebar__logout">{{ 'layout.customer.log_out' | t | customer_logout_link }}</li>

      </ul>
    </div>

    <div class="grid__item medium-up--three-quarters medium-down--one-whole">
      <a href="/account" class="account__breadcrumb">
        {% include 'icons' with icon: 'arrow-left' %}
        Account
      </a>
    </div>

    <div class="grid__item medium-up--three-quarters medium-down--one-whole">


      <div class="account-container">
        <div class="account-container__header">
          <h2 class="h4">{{ 'customer.orders.title' | t }}</h2>
        </div>

        <div class="grid">
          <div class="grid__item small--one-whole">
            <div class="account-container__details">
              <p class="h4">{{ 'customer.order.title' | t: name: order.name }}</p>
              <p class="h6">{{ 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y %I:%M%p" }}</p>
            </div>
          </div>

          <div class="account-container__order">
            <div class="grid__item small--one-whole">
              <table class="responsive-table order__table">
                <thead>
                  <tr>
                    <th>{{ 'customer.order.product' | t }}</th>
                    <th>{{ 'customer.order.sku' | t }}</th>
                    <th>{{ 'customer.order.price' | t }}</th>
                    <th>{{ 'customer.order.quantity' | t }}</th>
                    <th>{{ 'customer.order.total' | t }}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for line_item in order.line_items %}
                    <tr id="{{ line_item.key }}" class="responsive-table-row">
                      <td data-label="{{ 'customer.order.product' | t }}">
                        {{ line_item.title | link_to: line_item.product.url }}
                        {% if line_item.fulfillment %}
                          <dl class="order__fulfilled">
                            <dt>{{ 'customer.order.fulfilled_at' | t }}</dt>
                            <dd><span>{{ line_item.fulfillment.created_at | date: format: 'month_day_year' }}</span></dd>

                            {% if line_item.fulfillment.tracking_url %}
                              <dt>{{ 'customer.order.tracking_url' | t }}</dt>
                              <dd>
                                <a href="{{ line_item.fulfillment.tracking_url }}">
                                  {{ 'customer.order.track_shipment' | t }}
                                </a>
                              </dd>
                            {% endif %}

                            <dt>{{ 'customer.order.tracking_company' | t }}</dt>
                            <dd><span>{{ line_item.fulfillment.tracking_company }}</span></dd>

                            {% if line_item.fulfillment.tracking_number %}
                              <dt>{{ 'customer.order.tracking_number' | t }}</dt>
                              <dd><span>{{ line_item.fulfillment.tracking_number }}</span></dd>
                            {% endif %}
                          </dl>
                        {% endif %}
                      </td>
                      <td data-label="{{ 'customer.order.sku' | t }}">{{ line_item.sku }}</td>
                      <td data-label="{{ 'customer.order.price' | t }}">{{ line_item.price | money }}</td>
                      <td data-label="{{ 'customer.order.quantity' | t }}">{{ line_item.quantity }}</td>
                      <td data-label="{{ 'customer.order.total' | t }}">{{ line_item.quantity | times: line_item.price | money }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr class="responsive-table-row">
                    <td colspan="4" class="small--hide">{{ 'customer.order.subtotal' | t }}</td>
                    <td data-label="{{ 'customer.order.subtotal' | t }}">{{ order.subtotal_price | money }}</td>
                  </tr>

                  {% for discount in order.discounts %}
                    <tr>
                      <td colspan="4" class="small--hide">{{ discount.code }} {{ 'customer.order.discount' | t }}</td>
                      <td data-label="{{ 'customer.order.discount' | t }}">{{ discount.savings | money }}</td>
                    </tr>
                  {% endfor %}

                  {% for shipping_method in order.shipping_methods %}
                    <tr>
                      <td colspan="4" class="small--hide">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
                      <td data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
                    </tr>
                  {% endfor %}

                  {% for tax_line in order.tax_lines %}
                    <tr>
                      <td colspan="4" class="small--hide">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
                      <td data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
                    </tr>
                  {% endfor %}

                  <tr>
                    <td colspan="4" class="small--hide">{{ 'customer.order.total' | t }}</td>
                    <td data-label="{{ 'customer.order.total' | t }}">{{ order.total_price | money }} {{ order.currency }}</td>
                  </tr>
                </tfoot>
              </table>
            </div>

            <div class="grid__item small--one-whole medium-up--one-half">
              <h4>{{ 'customer.order.billing_address' | t }}</h3>

              <p>{{ 'customer.order.payment_status' | t }}: {{ order.financial_status_label }}</p>

              {{ order.billing_address | format_address }}
            </div>

            <div class="grid__item small--one-whole medium-up--one-half">

              <h4>{{ 'customer.order.shipping_address' | t }}</h3>

              <p>{{ 'customer.order.fulfillment_status' | t }}: {{ order.fulfillment_status_label }}</p>

              {{ order.shipping_address | format_address }}

            </div>

            <div class="grid__item small--one-whole">
              {% if order.cancelled %}
                {%- assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" -%}
                <p>{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
                <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
              {% endif %}
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>



