<div class="login">

  <div class="login__basic-wrapper">
    <div class="login__wolf">
      <img src="{{ 'wolf.png' | asset_url }}" alt="{{store.name}}">
    </div>

    <h1 class="login__title">{{ 'customer.reset_password.title' | t }}</h1>
    <p class="login__subtitle">{{ 'customer.reset_password.subtext' | t }}</p>

    <div class="form-vertical slick-form" js-form="true">

      {% form 'reset_customer_password' %}

        {{ form.errors | default_errors }}

        <label for="ResetPassword">
          {{ 'customer.reset_password.password' | t }}
        </label>
        <input type="password"
          name="customer[password]"
          id="ResetPassword"
          class="{% if form.errors contains 'password' %}input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password' | t }}">

        <label for="PasswordConfirmation">
          {{ 'customer.reset_password.password_confirm' | t }}
        </label>
        <input type="password"
          name="customer[password_confirmation]"
          id="PasswordConfirmation"
          class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

        <input type="submit" class="button button--full" value="{{ 'customer.reset_password.submit' | t }}">
      {% endform %}


    </div>
  </div>
</div>
