{%- capture alignContent -%}
  {% case section.settings.alignment %}
    {% when 'left' %}
      text-left
    {% when 'right' %}
      text-right
    {% else %}
      text-center
  {% endcase %}
{%- endcapture -%}

{% if section.settings.enable_banner_image %}
  {% if section.settings.full-width != 'full-width' %}<div class="page-width">{% endif %}
    <div class="banner-image
      {% if section.settings.text_color == 'white' %}banner-image--white{% endif %}" 
      style="background-image: url({{ section.settings.image | img_url: 'master' }})">

      {% if section.settings.full-width == 'full-width' %}<div class="page-width">{% endif %}
        
        <header class="{{ alignContent }}" role="banner">
          <h1 class="header__title hero-title">{{ section.settings.title }}</h1>
          {% if section.settings.text != blank %}
            <p class="header__text rte">
              {{ section.settings.text }}
            </p>
          {% endif %}
        </header>

      {% if section.settings.full-width == 'full-width' %}</div>{% endif %}

    </div>
  {% if section.settings.full-width != 'full-width' %}</div>{% endif %}
{% endif %}


<div class="page-width">
{% if cart.item_count > 0 %}

  <form action="/cart" method="post" novalidate>
    <div class="grid">
      <div class="grid__item medium-up--eight-twelfths">
        
        <main id="Cart">
            
            <h1 class="cart__title">{{ 'cart.general.title' | t }}</h1>

            <div class="cart__body">

              {% for item in cart.items %}

                <div class="cart__row cart__row--{{item.id}}">

                {% if item.image != blank %}
                  <div class="cart__image">
                    <a href="{{ item.url | within: collections.all }}">
                      {{ item | img_url: '400x' | img_tag: item.title }}
                    </a>
                  </div>
                {% endif %}

                  <div class="cart__content">


                    <a href="{{ item.url }}">
                      <h5 class="cart-item__title">{{ item.product.title }}</h5>
                      <p class="cart-item__price">
                        <span class="cart__line-total">{{ item.line_price | money }}</span>
                        <span class="cart-item__price-per-unit">
                          {% if item.original_line_price != item.line_price %}
                            <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                            {{ item.price | money }}/un
                            <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                            <s>{{ item.original_price | money }}</s>
                          {% else %}
                            {% if item.line_price != item.price %}
                              {{ item.price | money }}/un
                            {% endif %}
                          {% endif %}
                        </span>
                      </p>
                    </a>

                    {% unless item.product.has_only_default_variant %}
                      <p class="cart-item__variant">{{ item.variant.title }}</p>
                    {% endunless %}

                    {% comment %}<p>{{ item.vendor }}</p>{% endcomment %}

                    {%- assign property_size = item.properties | size -%}

                    {% if property_size > 0 %}
                      {% for p in item.properties %}
                        {% unless p.last == blank %}
                        {{ p.first }}:

                        {% if p.last contains '/uploads/' %}
                          <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                        {% else %}
                          {{ p.last }}
                        {% endif %}

                        {% endunless %}
                      {% endfor %}
                    {% endif %}

                    <div class="cart-item__remove cart-data" data-line="{{ forloop.index }}" data-id="{{ item.id }}">
                      {{ 'cart.general.remove' | t }}
                    </div>
                 
                    
                    
                  </div>
                  <div class="cart-item__quanity cart-data" data-line="{{ forloop.index }}" data-id="{{ item.id }}">
                    <span>Quanity</span>
                    
                    <div class="quantity-wrapper">
                      <div class="quantity-wrapper__minus js--quantity" data-increment="false">-</div>
                      <input type="number"
                               name="updates[]"
                               id="updates_{{ item.key }}"
                               value="{{ item.quantity }}"
                               class="cart-ajax__quantity__input"
                               min="0"
                               aria-label="{{ 'cart.general.item_quantity' | t }}">
                      <div class="quantity-wrapper__plus js--quantity" data-increment="true">+</div>
                    </div>


                  </div>
                </div>
              {% endfor %}
              
            </div>


        </main>
        
        {% if settings.cart_notes_enable %}
          <div class="cart-notes">
            <div class="cart__body">
                <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
            </div>
          </div>
        {% endif %}
      </div>

      <div class="grid__item medium-up--four-twelfths">
        <aside class="cart-summary">
          <h2 class="cart__title">
            {{ 'cart.general.subtotal' | t }}
            <span class="cart__title-subtitle js-cart-subtotal">
              {{ cart.total_price | money }}
            </span>
          </h2>
          <div class="cart__body">
            <p>You have <span class="js-cart-item-count">{{ cart.item_count }}</span> {{ cart.item_count | pluralize: 'item', 'items' }} in your cart</p>
            {% if cart.total_discounts > 0 %}
              <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
            {% endif %}
            <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
            <input type="submit" name="checkout" class="button button--full" value="{{ 'cart.general.checkout' | t }}">
          </div>
        </aside>

      </div>

    </div>
  </form>
{% else %}
  <div class="page-content text-center">
    <h1 class="h2">{{ 'cart.general.title' | t }}</h1>

    {% comment %}
    Cart empty state
    {% endcomment %}
    <div class="supports-cookies">
      <p>{{ 'cart.general.empty' | t }}</p>
      <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
    </div>

    {% comment %}
    Cart no cookies state
    ---------------------
    Browser cookies are required to use the cart. If cookies aren't enabled in the
    browser a message is displayed prompting the user to enable them.
    {% endcomment %}
    <div class="supports-no-cookies">
      <p>{{ 'cart.general.cookies_required' | t }}</p>
    </div>
  </div>
{% endif %}
</div>


{% schema %}
  {
    "name": "Cart Layout",
    "settings": [
      {
        "type": "header",
        "content": "Cart Hero image"
      },
      {
        "type": "checkbox",
        "id": "enable_banner_image",
        "label": "Use image banner"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Banner Image"
      },
       {
        "type": "text",
        "id": "title",
        "label": "Banner title"
      },
       {
        "type": "text",
        "id": "text",
        "label": "Banner text"
      },
      {
        "type": "select",
        "id": "full-width",
        "label": "Collection Banner Full width",
        "default": "full-width",
        "options": [
          {
            "label": "Full width",
            "value": "full-width"
          },
          {
            "label": "Within wrapper",
            "value": "wrapper"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_color",
        "label": "Text colour",
        "default": "black",
        "options": [
          {
            "label": "White",
            "value": "white"
          },
          {
            "label": "Black",
            "value": "black"
          }
        ]
      },
      {
        "type": "select",
        "id": "alignment",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      }
    ]
  }
{% endschema %}