<div class="page-width ">

  <div class="cart__header">
    {% if cart.item_count > 0 %}
      <h1>My Cart</h1>
    {% else %}
      <div class="cart__empty">
        <h1>Your bag is empty…</h1>
        <a href="/collections/shoes" class="button">shop shoes</a>
        <a href="/collections/accessories" class="button">Shop accessories</a>
      </div>
    {% endif %}
  </div>

  {% if cart.item_count > 0 %}
    <div class="cart">
      <form action="/cart" method="post" novalidate>
        <div class="grid">
          <div class="grid__item medium-up--one-whole large-up--ten-twelfths large-up--push-one-twelfth">
            
            <main id="Cart">

              <table>
                
                <thead class="cart__title">
                  <tr>
                    <th class="cart__title-product">
                      Product
                    </th>

                    <th class="cart__title-quantity">
                      Quanity
                    </th>

                    <th class="cart__title-total">
                      Total
                    </th>
                  </tr>
                </thead>

                <tbody class="cart__body">

                  {% for item in cart.items %}

                    <tr class="cart__row cart__row--{{item.id}}">

                      {% if item.image != blank %}
                        <td class="cart__image">
                          <a href="{{ item.url | within: collections.all }}">
                            {{ item | img_url: '400x' | img_tag: item.title }}
                          </a>

                          <div class="cart-item__text-wrapper">
                            <a href="{{ item.url | within: collections.all }}" class="h5 cart-item__title">{{ item.product.title }}</a>

                            {% unless item.product.has_only_default_variant %}
                              <p class="cart-item__variant">{{ item.variant.title }}</p>
                              {% if item.variant.option1 %}
                              {% comment %} <p class="cart-item__variant">{{ item.variant | json }}</p> {% endcomment %}
                              {% endif %}
                            {% endunless %}

                            {%- assign property_size = item.properties | size -%}

                            {% if property_size > 0 %}
                              {% for p in item.properties %}
                                <p class="cart-item__variant">
                                  {% unless p.last == blank %}
                                  {{ p.first }}:

                                  {% if p.last contains '/uploads/' %}
                                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                                  {% else %}
                                    {{ p.last }}
                                  {% endif %}
                                </p>
                                {% endunless %}
                              {% endfor %}
                            {% endif %}
                          </div>


                        </td>
                      {% endif %}

                      <td class="cart-item__quanity cart-data" data-line="{{ forloop.index }}" data-id="{{ item.id }}">

                        <div class="cart-item__quanity-wrapper">
                          <div class="quantity-wrapper">
                            <button class="quantity-wrapper__minus js--quantity" data-increment="false">-</button>
                            <input type="number"
                                    name="updates[]"
                                    id="updates_{{ item.key }}"
                                    value="{{ item.quantity }}"
                                    class="cart-ajax__quantity__input"
                                    min="0"
                                    aria-label="{{ 'cart.general.item_quantity' | t }}">
                            <button class="quantity-wrapper__plus js--quantity" data-increment="true">+</button>
                          </div>

                          <button type="button" class="cart-item__remove cart-data" data-line="{{ forloop.index }}" data-id="{{ item.id }}">
                            {{ 'cart.general.remove' | t }}
                          </button>
                        </div>

                      </td>

                      <td class="cart__content">

                        <a href="{{ item.url }}">
                          
                          <p class="cart-item__price">
                            <span class="cart__line-total">{{ item.line_price | money_without_trailing_zeros }}</span>
                            <span class="cart-item__price-per-unit">
                              {% if item.original_line_price != item.line_price %}
                                <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                                {{ item.price | money_without_trailing_zeros }}
                                <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                                <s>{{ item.original_price | money_without_trailing_zeros }}</s>
                              {% else %}
                                {% if item.line_price != item.price %}
                                  {{ item.price | money_without_trailing_zeros }}
                                {% endif %}
                              {% endif %}
                            </span>
                          </p>
                        </a>                    
                        
                      </td>

                    </tr>
                  {% endfor %}
                  
                </tbody>

              </table>

            </main>
            
            {% if settings.cart_notes_enable %}
              {% comment %} <div class="cart-notes">
                <div class="cart__body">
                    <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                    <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
                </div>
              </div> {% endcomment %}
            {% endif %}
          </div>
        </div>

        <div class="grid">
          <div class="grid__item medium-up--one-whole large-up--ten-twelfths large-up--push-one-twelfth">
            <div class="grid cart-footer">
              <div class="grid__item medium-up--four-twelfths">
                <a href="/collections/all" class="button-text-and-arrow button-text-and-arrow--reverse">
                  Continue Shopping <div class="wolf-arrow wolf-arrow--right"></div>
                </a>
              </div>
              <div class="grid__item medium-up--five-twelfths medium-up--push-three-twelfths">

                <div class="cart-summary">
                  <h3 class="cart-summary__title">
                    {{ 'cart.general.subtotal' | t }}
                    <span class="cart-summary__title-subtitle js-cart-subtotal">
                      {{ cart.total_price | money_without_trailing_zeros }}
                    </span>
                  </h3>
                  <div class="cart-summary__body">
                    {% comment %} <p>You have <span class="js-cart-item-count">{{ cart.item_count }}</span> {{ cart.item_count | pluralize: 'item', 'items' }} in your cart</p> {% endcomment %}
                    {% if cart.total_discounts > 0 %}
                      <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money_without_trailing_zeros }}</p>
                    {% endif %}
                    <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
                    <input type="submit" name="checkout" class="button button--full" value="{{ 'cart.general.checkout' | t }}">
                    <a class="cart-summary__link" href="https://wolfandshepherd.com/pages/international-checkout">International Checkout</a>
                  </div>
                </div>


              </div>
            </div>
          </div>

        </div>
      </form>
    </div>
  {% else %}
    <div class="page-content text-center">
      {% comment %}
      Cart empty state
      {% endcomment %}
      {% comment %} <div class="supports-cookies">
        <p>{{ 'cart.general.empty' | t }}</p>
        <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
      </div> {% endcomment %}

      {% comment %}
      Cart no cookies state
      ---------------------
      Browser cookies are required to use the cart. If cookies aren't enabled in the
      browser a message is displayed prompting the user to enable them.
      {% endcomment %}
      {% comment %} <div class="supports-no-cookies">
        <p>{{ 'cart.general.cookies_required' | t }}</p>
      </div> {% endcomment %}
    </div>
  {% endif %}
</div>


{% schema %}
  {
    "name": "Cart Layout"
  }
{% endschema %}