<div class="page-width" data-section-id="{{ section.id }}" data-section-type="collection-list">
  <div class="{{ section.settings.margin_bottom }}">

    <div class="collection-list__header">
      {% if section.settings.title != blank %}
        <h2>{{ section.settings.title | escape }}</h2>
      {% endif %}
    </div>

    <div class="grid">
      <div class="collection-list collection-list--{{section.id}}">

              <div class="swiper-wrapper">
        {% for block in section.blocks limit: section.blocks.size %}
          <div {{ block.shopify_attributes }} class="grid__item medium-up--one-third swiper-slide">
            {%- assign collection = collections[block.settings.collection] -%}

            <a class="collection-list__item" href="{% if collection == empty %}#{% else %}{{ collection.url }}{% endif %}" title="{{ collection.title }}">

             
              {%- capture image_url -%}
                {% if block.settings.image != blank %}
                  {{ block.settings.image | img_url: '480x' }}
                {% elsif collection.image != blank %}
                  {{ collection | img_url: '480x'  }}
                {% elsif collection.products.first != blank %}
                  {{ collection.products.first | img_url: '480x' }}
                {% endif %}
              {%- endcapture -%}
            


              {% if collection == empty %}
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
              {% else %}
              <div class="sk-bg-parent">
                <div class="sk-bg collection-list__image lazyload" data-bgset="{{ image_url | handlize }}">
                </div>
              </div>
              {% endif %}

              <h3>
                {% if collection == empty %}
                  {{ 'homepage.onboarding.collection_title' | t }}
                {% else %}
                  {{ collection.title }}
                {% endif %}
              </h3>

              <div class="button--white button--white--compress">{{block.settings.button_title}}</div>
            </a>
          </div>
        {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>

{% if section.blocks.size == 0 %}
  {% include 'no-blocks' %}
{% endif %}

{% schema %}
  {
    "name": "Collection list",
    "max_blocks": 3,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      },
      {
        "type": "select",
        "id": "margin_bottom",
        "label": "Margin bottom",
        "default": "no-margin",
        "options": [
          {
            "label": "Margin bottom",
            "value": "section-margin-bottom"
          },
          {
            "label": "No margin",
            "value": "no-margin"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          },
          {
            "label": "Image",
            "id": "image",
            "type": "image_picker"
          },
          {
            "type": "text",
            "id": "button_title",
            "label": "Button text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
