{% comment %}
  modules/feature-collection.scss
{% endcomment %}
<div class="feature-collection feature-collection--{{section.id}} 
  {% if section.settings.background_light == false %}feature-collection--dark{% endif %}
  {{ section.settings.margin_bottom }}" 
  id="featured-collection-section" 
  data-section-id="{{ section.id }}" 
  data-section-type="featured-collection-section">
  <div class="page-width">
    <div class="grid">
      <div class="grid__item medium-up--one-whole">
        <div class="feature-collection__container">
          
          {%- assign collection = collections[section.settings.collection] -%}
          {%- assign collectionCounter = section.settings.product_count -%}   

          {%- capture collectionCounterClass -%}
            grid__item small--one-half
            {% case collectionCounter %}
              {% when '2' %}
                medium-up--one-half
              {% when '3' %}
                medium-up--one-third
              {% when '4' %}
                medium-up--one-quarter
              {% when '5' %}
                medium-up--one-fifth          
              {% when '6' %}
                medium-up--one-third
              {% when '8' %}
                medium-up--one-quarter
              {% else %}
                medium-up--one-whole
            {% endcase %}
          {%- endcapture -%}

          {% if section.settings.show_carousel %}
            {% assign slidesToShow = collectionCounter %}
            {% assign collectionCounter = collectionCounter | times:3 %}
            {% assign collectionCounterClass = '' %}
            <div class="collection-carousel--{{section.id}}">
          {% endif %}

          {% for product in collection.products limit: collectionCounter %}

            {% include 'collection-grid-product' with gridWidth: collectionCounterClass  %}
            
          {% else %}
            {% for i in (1..collectionCounter) %}
              <div class="item grid__item {% unless section.settings.show_carousel %}{{ collectionCounterClass }}{% endunless %}" >
                  <a href="#" class="product-link">
                    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                    {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}

                    <p>
                      {{ 'homepage.onboarding.product_title' | t }}
                    </p>
                  </a>

                  <p>{{ 1999 | money }}</p>
              </div>
            {% endfor %}
          {% endfor %}

          {% if section.settings.show_carousel %}
            </div>
          {% endif %}

          {% if section.settings.show_button %}
            <div class="grid__item">
              <div class="feature-collection__button-row">
                <a href="{{collection.url}}" class="button--white">{{ section.settings.button_text  }}</a>
              </div>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "select",
        "id": "product_count",
        "label": "Number of products to show",
        "default": "4",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },          
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "8",
            "label": "8"
          }
        ]
      },
      {
        "type": "select",
        "id": "margin_bottom",
        "label": "Margin bottom",
        "default": "no-margin",
        "options": [
          {
            "label": "Margin bottom",
            "value": "section-margin-bottom"
          },
          {
            "label": "No margin",
            "value": "no-margin"
          }
        ]
      },
      {
        "id": "show_carousel",
        "type": "checkbox",
        "label": "Show as carousel"
      },      
      {
        "id": "show_button",
        "type": "checkbox",
        "label": "Show Collection button"
      },
      {
        "id": "button_text",
        "type": "text",
        "label": "Button text"
      },
      {
        "id": "background_light",
        "type": "checkbox",
        "label": "Light background",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }

{% endschema %}
