<div class="page-layout">
  <header class="stockist__header stockist__header--white">
    <div class="page-width">
      <div class="grid">
        <div class="grid__item medium-up--one-whole large-up--eight-twelfths large-up--push-two-twelfths">
          <div class="stockist__container">
            <h1 class="stockist__title">
              <span>{{ section.settings.supertitle | escape }}</span>
              {{ section.settings.title | escape }}
            </h1>
            <p class="stockist__content">{{ section.settings.content | escape }}</p>

            <ul class="stockist__locations">

              {%- for block in section.blocks -%}
                <li class="stockist__location">
                  {%- if block.settings.location_url != blank -%}<a href="{{block.settings.location_url}}" class="{% if block.settings.location_url contains '#' %}slide-to{% endif %}" data-slide="{{ block.settings.location_url }}">{%- endif -%}
                    <img src="{{ block.settings.location_img | img_url: 'master' }}" alt="{{section.settings.location_img.alt}}"/>
                    <h6>{{block.settings.location_title}}</h6>
                  {%- if block.settings.location_url != blank -%}</a>{%- endif -%}
                </li>
              {%- endfor -%}
            </ul>

          </div>
        </div>
      </div>
    </div>
  </header>
</div>

{% schema %}
  {
    "name": "Flagship header",
    "settings": [
      {
        "type": "text",
        "id": "supertitle",
        "label": "Supertitle"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "content",
        "label": "content"
      }
    ],
    "blocks": [
      {
        "type": "location",
        "name": "Location",
        "settings": [
          {
            "type": "image_picker",
            "id": "location_img",
            "label": "Location image"
          },
          {
            "type": "text",
            "id": "location_title",
            "label": "Location title"
          },
          {
            "type": "url",
            "id": "location_url",
            "label": "Location URL"
          }
        ]
      }
    ]
  }
{% endschema %}
