{% if section.settings.enable %}
  {%- capture alignContent -%}
    {% case section.settings.alignment %}
      {% when 'left' %}
        hero-main--left
      {% when 'right' %}
        hero-main--right
      {% else %}
        hero-main--center
    {% endcase %}
  {%- endcapture -%}

  <style>
    .hero-main--{{ section.id }}{
      background-image:url('{{ section.settings.mobile_image | img_url: 'master' }}');
    }
    @media screen and (min-width: 749px) {
      .hero-main--{{ section.id }}{
        background-image:url('{{ section.settings.image | img_url: 'master' }}');
      }
    }
  </style>

  {% if section.settings.full-width != 'full-width' %}<div class="page-width">{% endif %}
   
  <div class="hero-main {{ alignContent }} hero-main--{{ section.id }} 
    {% if section.settings.text_color == 'white' %}hero-main--white{% endif %}
    {% if section.settings.margin_bottom == 'margin' %}section-margin-bottom{% endif %}">

    <div class="hero-main__wrapper">

      {% if section.settings.title != blank %}
        <h2 class="h1 hero-title">{{ section.settings.title | escape }}</h2>
      {% endif %}
      
        <div class="rte-setting hero-text">
        {% if section.settings.text != blank %}{{ section.settings.text }}{% endif %}
        {% if section.settings.button_label != blank and section.settings.button_link != blank %}
          <a href="{{ section.settings.button_link }}" class="{% if section.settings.button_color == 'white' %}button--white {% else %} button {% endif %}">
            {{ section.settings.button_label }}
          </a>
        {% endif %}
        </div>
    </div>
  </div>

  {% if section.settings.full-width != 'full-width' %}</div>{% endif %}
  
{% endif %}
 
{% schema %}
  {
    "name": "Image with text overlay",
    "class": "index-section index-section--flush",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable",
        "label": "Show section"
      },
      {
        "type": "select",
        "id": "margin_bottom",
        "label": "Margin bottom",
        "default": "no-margin",
        "options": [
          {
            "label": "Margin bottom",
            "value": "margin"
          },
          {
            "label": "No margin",
            "value": "no-margin"
          }
        ]
      },
      {
        "type": "select",
        "id": "full-width",
        "label": "Full width",
        "default": "full-width",
        "options": [
          {
            "label": "Full width",
            "value": "full-width"
          },
          {
            "label": "Within wrapper",
            "value": "wrapper"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Desktop Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      {
        "type": "select",
        "id": "alignment",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_color",
        "label": "Text colour",
        "default": "black",
        "options": [
          {
            "label": "White",
            "value": "white"
          },
          {
            "label": "Black",
            "value": "black"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text overlay"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
      },
      
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "button_color",
        "label": "Button colour",
        "default": "black",
        "options": [
          {
            "label": "White",
            "value": "white"
          },
          {
            "label": "Black",
            "value": "black"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero Image",
        "category": "Image"
      }
    ]
  }
{% endschema %}