{% comment %}
  This page represents the /collections and /products pages.
{% endcomment %}

{%- capture collectionCounterClass -%}
  grid__item small--one-half medium-up--one-third
{%- endcapture -%}

<div data-section-id="{{ section.id }}" data-section-type="list-collections">
  {% include 'sub-menu' %}

  {% assign collectionsList = '' %}
  {% for link in linklists[section.settings.linklist].links %}
    {% if link.url contains '/collections/' %}
      {% assign collectionTemp = link.url | split: '/collections/' %}
      {% assign collectionsList = collectionsList | append: collectionTemp | append: ',' %}
    {% endif %}
  {% endfor %}
  {% assign collectionsList = collectionsList | remove: '"]' | remove: '["", "' %}
  {% assign collectionsList = collectionsList | split: ',' %}

  
  <div class="collection-wrapper">
    <div class="page-width">

      <div class="grid">
        <div class="grid__item medium-up--one-quarter">
          <div class="collection-filter__container">
            <div class="collection-filter">
              {% include 'filter-menu' %}
            </div>
          </div>
        </div>

        <div class="grid__item medium-up--three-quarters">
          <div class="grid">

            {% for collectionHandle in collectionsList %}
              {%- assign collection = collections[collectionHandle] -%}
              <div class="list-collections {% if forloop.last %} list-collections--last {% endif %}">
                <div class="grid__item small--one-whole">
                  <header class="list-collections__header">
                    <h3>
                      <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: title }}">{{ collection.title }}</a>
                    </h3>

                    <a href="{{ collection.url }}" class="button-text-and-arrow" title="{{ 'collections.general.link_title' | t: title: title }}">
                      View All <div class="wolf-arrow wolf-arrow--right"></div>
                    </a>

                  </header>
                </div>
                <div class="list-collections__collection">
                  {% for product in collection.products limit: 3 %}
                    {% include 'collection-grid-product' with gridWidth: collectionCounterClass  %}
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
           
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Collection Layout",
    "settings": [
      {
        "type": "header",
        "content": "Collection Settings"
      },
      {
        "type": "link_list",
        "id": "linklist",
        "label": "Navigation"
      }
    ]
  }
{% endschema %}




