{% assign sectionImage = section.settings.image | img_url: 'master'  %}
{% if section.settings.mobile_image != blank %}
  {% assign sectionImageMobile = section.settings.mobile_image | img_url: 'master'  %}
{% else %}
  {% assign sectionImageMobile = section.settings.image | img_url: 'master'  %}
{% endif %}

<div class="form-success hide" id="ResetSuccess">
  {{ 'customer.recover_password.success' | t }}
</div>

<div id="CustomerLoginForm" class="login">
  <div class="login__image-wrapper">
    <div class="login__image hero-image--{{ sectionId }} lazyload" 
    data-bgset="{{sectionImageMobile}} [(max-width: 749px)] | {{sectionImage}}">
    </div>
    <div class="login__form-container">
      <div class="form-vertical slick-form" js-form="true">
        {% form 'customer_login' %}
          <h1 class="login__title">{{ 'customer.login.title' | t }}</h1>
          <p class="login__subtitle">{{ 'customer.login.subtitle' | t }}</p>

          {{ form.errors | default_errors }}

          <label for="CustomerEmail">
            {{ 'customer.login.email' | t }}
          </label>
          <input type="email"
                  name="customer[email]"
                  id="CustomerEmail"
                  class="{% if form.errors contains 'email' %}input-error{% endif %}"
                  placeholder="{{ 'customer.login.email' | t }}"
                  spellcheck="false"
                  autocomplete="off"
                  autocapitalize="off"
                  autofocus>

          {% if form.password_needed %}
            <label for="CustomerPassword">
              {{ 'customer.login.password' | t }}
            </label>
            <input type="password"
                    name="customer[password]"
                    id="CustomerPassword"
                    class="{% if form.errors contains 'password' %}input-error{% endif %}"
                    placeholder="{{ 'customer.login.password' | t }}">
            <a class="login__link" href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a>
          {% endif %}

          <button type="submit" class="button button--full">{{ 'customer.login.sign_in' | t }}</button>

          <a class="login__link" href="/">{{ 'customer.login.cancel' | t }}</a>

          <a class="login__link" href="/account/register">
            {{ 'layout.customer.create_account' | t }}
          </a>

        {% endform %}
      </div>
    </div>
  </div>
</div>

<div id="RecoverPasswordForm" class="hide login">
  <div class="login__image-wrapper">
    <div class="login__image hero-image--{{ sectionId }} lazyload" 
    data-bgset="{{sectionImageMobile}} [(max-width: 749px)] | {{sectionImage}}">
    </div>


    <div class="form-vertical">
      
      <h2 class="login__title">{{ 'customer.recover_password.title' | t }}</h2>
      <p class="login__text">{{ 'customer.recover_password.subtext' | t }}</p>

      {% form 'recover_customer_password' %}
        {{ form.errors | default_errors }}

        {% if form.posted_successfully? %}
          <span class="hide reset-password-success"></span>
        {% endif %}

        <label for="RecoverEmail">
          {{ 'customer.recover_password.email' | t }}
        </label>
        <input type="email"
              name="email"
              id="RecoverEmail"
              placeholder="{{ 'customer.recover_password.email' | t }}"
              spellcheck="false"
              autocomplete="off"
              autocapitalize="off">

        <button type="submit" class="button button--full button--pink">
        {{ 'customer.recover_password.submit' | t }}
        </button>

        <button type="button button--full" id="HideRecoverPasswordLink">
          {{ 'customer.recover_password.cancel' | t }}
        </button>
      {% endform %}
    </div>
  </div>
</div>

{% if shop.checkout.guest_login %}
  <h2>{{ 'customer.login.guest_title' | t }}</h2>

  {% form 'guest_login' %}
    <input type="submit" class="button" value="{{ 'customer.login.guest_continue' | t }}">
  {% endform %}
{% endif %}


{% schema %}
  {
    "name": "Login",
    "settings": [
      {
        "type": "header",
        "content": "Login"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ]
  }
{% endschema %}
