<section data-section-type="megnav" data-section-id="{{ section.id }}">
  {% for block in section.blocks %}
    <div class="meganav" id="Meganav-{{block.id}}" data-meganav-child='{{ block.settings.meganav_parent | handle }}' {{ block.shopify_attributes }} style="background-color: {{block.settings.meganav_colour}}">
      
      <span class="meganav__arrow" style="border-bottom-color: {{block.settings.meganav_colour}}"></span>
      <div class="page-width">      
        <div class="meganav__list">
          {% for i in (1..4) %}
            {% assign meganav_linklist = 'meganav_linklist_' | append: i %}
            {% assign meganav_linklist_title = 'meganav_linklist_title_' | append: i %}
            {% assign childlist = block.settings[meganav_linklist] %}
            <ul>
              {% if block.settings[meganav_linklist_title] %}
                <li><h5>{{ linklists[childlist].title }}</h5></li>
              {% endif %}
              {% for link in linklists[childlist].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          {% endfor %}
        </div>

        <div class="meganav__images">
          {% for i in (1..4) %}
            {% assign meganav_image_title = 'meganav_image_title_' | append: i %}
            {% assign meganav_image_link = 'meganav_image_link_' | append: i %}
            {% assign meganav_image = 'meganav_image_' | append: i %}
            {% if block.settings[meganav_image] != blank %}
              <a href="{{ block.settings[meganav_image_link] }}" class="meganav__images__image-block">
                <div class="inner"><h3>{{ block.settings[meganav_image_title] }}</h3></div>
                {{ block.settings[meganav_image] | img_url: 'master' | img_tag }}
              </a>
            {% endif %}
          {% endfor %}
        </div>


      </div>
    </div>
  {% endfor %}
</section>

{% schema %}
  {
    "name": "Mega Nav",
    "settings": [

    ],
    "blocks": [
      {
        "type": "meganav",
        "name": "meganav",
        "settings": [
          {
            "type": "text",
            "id": "meganav_parent",
            "label": "Which menu item does this dropdown belong to?"
          },
          {
            "type": "color",
            "id": "meganav_colour",
            "label": "Meganav colour"
          },
          {
            "type": "header",
            "content": "List one"
          },
          {
            "type": "checkbox",
            "id": "meganav_linklist_title_1",
            "label": "Show This Menu's Title"
          },
          {
            "type": "link_list",
            "id": "meganav_linklist_1",
            "label": "List 1 Menu"
          },
          {
            "type": "header",
            "content": "List Two"
          },
          {
            "type": "checkbox",
            "id": "meganav_linklist_title_2",
            "label": "Show This Menu's Title"
          },
          {
            "type": "link_list",
            "id": "meganav_linklist_2",
            "label": "List 2 Menu"
          },
          {
            "type": "header",
            "content": "List Three"
          },
          {
            "type": "checkbox",
            "id": "meganav_linklist_title_3",
            "label": "Show This Menu's Title"
          },
          {
            "type": "link_list",
            "id": "meganav_linklist_3",
            "label": "List 3 Menu"
          },
          {
            "type": "header",
            "content": "List four"
          },
          {
            "type": "checkbox",
            "id": "meganav_linklist_title_4",
            "label": "Show This Menu's Title"
          },
          {
            "type": "link_list",
            "id": "meganav_linklist_4",
            "label": "List 4 Menu"
          },
          {
            "type": "header",
            "content": "Image links"
          },
          {
            "type": "text",
            "id": "meganav_image_title_1",
            "label": "Image Title"
          },
          {
            "type": "url",
            "id": "meganav_image_link_1",
            "label": "Image Link"
          },
          {
            "type": "image_picker",
            "id": "meganav_image_1",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "meganav_image_title_2",
            "label": "Image Title"
          },
          {
            "type": "url",
            "id": "meganav_image_link_2",
            "label": "Image Link"
          },
          {
            "type": "image_picker",
            "id": "meganav_image_2",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "meganav_image_title_3",
            "label": "Image Title"
          },
          {
            "type": "url",
            "id": "meganav_image_link_3",
            "label": "Image Link"
          },
          {
            "type": "image_picker",
            "id": "meganav_image_3",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}