<style>
  #Notification-bar{
    text-transform: {{section.settings.top-bar_text-transform}};
  }
  #Notification-bar p{
    font-weight:{{section.settings.top-bar_font-weight}};
  }
</style>
{% if section.settings.show %}
  <div id="Notification-bar" data-section-id="{{ section.id }}"" data-section-type="notification-bar" data-size="{{section.blocks.size}}" class="{% if section.settings.text_color == 'white' %}notification-bar__white{% endif %}" style="background-color:{{ section.settings.color }}";">
    <div class="notification-bar__carousel" data-slick='{"autoplay":true,"autoplaySpeed":8000}'>
      {% for block in section.blocks %}
      <div class="notification-bar-{{ block.id }}" {{ block.shopify_attributes }}>{{ block.settings.content }}</div>
      {% endfor %}
    </div>
  </div>
{% endif %}
 
{% schema %}
  {
    "name": "Notification Bar",
    "max_blocks": 3,
    "settings": [
      {
        "type": "checkbox",
        "id": "show",
        "label": "Show Notification Bar"
      },
      {
        "type": "select",
        "id": "text_color",
        "label": "Text colour",
        "default": "black",
        "options": [
          {
            "label": "White",
            "value": "white"
          },
          {
            "label": "Black",
            "value": "black"
          }
        ]
      },
      {
        "type": "color",
        "id": "color",
        "label": "Background colour"
      },
      {
        "type": "select",
        "id": "top-bar_text-transform",
        "label":     "Text Case",
        "options": [
          {
           "value": "none",
           "label": "None"
          },
          {
           "value": "uppercase",
           "label": "UPPERCASE"
          }
        ],
        "default":   "uppercase"
      },
      {
        "type": "select",
        "id": "top-bar_font-weight",
        "label":     "Font Weight",
        "options": [
          {
           "value": "normal",
           "label": "Normal"
          },
          {
           "value": "700",
           "label": "Bold"
          }
        ],
        "default":   "normal"
      }
    ],
    "blocks": [
      {
        "type": "notifications",
        "name": "Notifications",
        "settings": [
          {
            "type": "richtext",
            "id": "content",
            "label":"Content"
          }
        ]
      }
    ]
  }
{% endschema %}