<style>
  body{
    background-size: cover;
    background-position: center right;
    {% if section.settings.background-image %}
      background-image:url({{section.settings.background-image | img_url: 'master'}});
    {% endif %}
  }
</style>

  <main role="main" class="password-page-content" id="MainContent">

    <header class="password-header" role="banner">
      <h1 itemscope itemtype="http://schema.org/Organization">
        {% if section.settings.logo != blank %}
          {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
          <img src="{{ section.settings.logo | img_url: image_size }}"
              srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
              alt="{{ section.settings.logo.alt | default: shop.name }}"
              itemprop="logo">
        {% else %}
          {{ shop.name }}
        {% endif %}
      </h1>
      {% comment %} <a href="#Login" class="modal__open">
        {% include 'icons' with icon: 'lock' %}
      </a> {% endcomment %}
    </header>

    <h2 class="h1">{{ 'general.password_page.opening_soon' | t }}</h2>

    {% unless shop.password_message == blank %}
      <p>
        {{ shop.password_message }}
      </p>
    {% endunless %}

    {% form 'customer' %}

      {{ form.errors | default_errors }}

      {% if form.posted_successfully? %}
        <ul class="form-success">
          <li>{{ 'general.password_page.signup_form_success' | t }}</li>
        </ul>
      {% else %}

        <h4>{{ 'general.password_page.signup_form_heading' | t }}</h4>
        <div class="inline-form">
          <input type="hidden" name="contact[tags]" value="prospect, password page">
          {% comment %} <label for="email" type="hidden">
            {{ 'general.password_page.signup_form_email_label' | t }}
          </label> {% endcomment %}
          <input type="email"
            name="contact[email]"
            id="Email"
            spellcheck="false"
            autocomplete="off"
            autocapitalize="off"
            placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
          <button type="submit" name="commit" class="button">
            {{ 'general.password_page.signup_form_submit' | t }}
          </button>
        </div>
      {% endif %}
    {% endform %}

    {% if settings.share_facebook or settings.share_twitter %}
      <p>{{ 'general.password_page.spread_the_word' | t }}</p>
      {% include 'social-sharing' %}
    {% endif %}

    <footer class="password-footer">
      <div class="copyright">
        {{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: '/' }}.
      </div>
    </footer>
  </main>



  <div id="modal" class="{% if block.settings.text_color == 'white' %}modal--white{% endif %}" >

    <div id="modal__signup_form" style="background-color:{{section.setttings.background_color}}; {%if section.settings.image %}background-image:url({{section.settings.image | img_url: 'master'}}){% endif %};">
      
      <h4 class="modal__title">{{ 'general.password_page.login_form_heading' | t }}</h4>

      {% comment %}<p class="modal__message">{{block.settings.message}}</p>{% endcomment %}

      <p class="modal__message">{{ 'general.password_page.admin_link_html' | t }}</p>

      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <div class="input-group password__input-group">
          <label type="hidden" for="password" value="{{ 'general.password_page.login_form_password_label' | t }}"></label>
          <input type="password"
            name="password"
            id="Password"
            placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
            <span class="input-group__btn">
              <button type="submit" class="button newsletter__submit" name="commit">
                <span class="newsletter__submit-text--large">{{ 'general.password_page.login_form_submit' | t }}</span>
              </button>
            </span>
          </div>
      {% endform %}


      {% comment %}<a class="modal__close-link" href="#">No thank you</a>{% endcomment %}
    
      <a class="modal__close" href="#">{% include 'icons' with icon: 'close' %}</a>

      <div class="exitintent_message hidden">{{block.settings.ExitIntent_message}}</div>

    </div>

  </div>

{% schema %}
{
  "name": "Password",
  "settings": [
    {
      "type": "header",
      "content": "Password Header"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "image_picker",
      "id": "background-image",
      "label": "Background image"
    }
  ]
}
{% endschema %}