{% comment %}
  modules/feature-collection.scss
{% endcomment %}

{% assign same_vendor = false %}
{% assign same_type = false %}

{% comment %}
  Collections to ignore.
  Never pick related items from those.
{% endcomment %}

{% assign exclusions = 'frontpage,all' | split: ',' %}

{% comment %}
  Looking for a relevant collection.
{% endcomment %}

{% if product.metafields.c_f['Related Products'] %}
  {% assign collection = collections[product.metafields.c_f['Related Products']] %}
{% endif %}

{% assign found_a_collection = false %}
{% if collection and collection.all_products_count > 1 %}
  {% unless exclusions contains collection.handle %}
    {% assign found_a_collection = true %}
  {% endunless %}
{% endif %}
{% unless found_a_collection %}
  {% for c in product.collections %}
    {% unless exclusions contains c.handle or c.all_products_count < 2 %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
      {% break %}
    {% endunless %}
  {% endfor %}
{% endunless %}

{% comment %}
  If we have a relevant collection.
{% endcomment %}

{% if found_a_collection %}

  {%- assign counter = 0 -%}
  {%- assign collectionCounter = section.settings.product_count | times: 1 -%} 

  {%- assign break_at = collectionCounter -%}
  {%- assign current_product = product -%}

  {%- capture collectionCounterClass -%}
    grid__item small--one-half
    {% case collectionCounter %}
      {% when 2 %}
        medium-up--one-half
      {% when 3 %}
        medium-up--one-third
      {% when 4 %}
        medium-up--one-quarter
      {% else %}
        medium-up--one-whole
    {% endcase %}
  {%- endcapture -%}

  {% capture related_items %}
    {% for product in collection.products %}
      {% unless product.handle == current_product.handle %}
         {% unless same_vendor and current_product.vendor != product.vendor %}
           {% unless same_type and current_product.type != product.type %}
  
              {% include 'collection-grid-product' with gridWidth: collectionCounterClass  %}

              {% assign counter = counter | plus: 1 %}
              {% if counter == break_at %}
                {% break %}
              {% endif %}
           {% endunless %}
        {% endunless %}
      {% endunless %}
    {% endfor %}
  {% endcapture %}

  {% assign related_items = related_items | trim %}
  
  <div class="related-products">
    <div class="page-width">
      <div class="grid feature-collection">
        
        {% if section.settings.title != blank %}
          <div class="grid__item">
            <div class="feature-collection__header">
              <h2 class="feature-collection__title">{{ section.settings.title | escape }}</h2>
            </div>
          </div>
        {% endif %}

        {% unless related_items == blank %}
          {{ related_items }}
        {% endunless %}

        {% if section.settings.show_button %}
          <div class="grid__item">
            <div class="feature-collection__button-row">
              <a href="{{collection.url}}" title="{{ section.settings.button_text }}">{{ section.settings.button_text  }}</a>
            </div>
          </div>
        {% endif %}

      </div>
    </div>
  </div>

{% endif %}
  
{% schema %}
  {
    "name": "Related products",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "You might also like"
      },
      {
        "type": "select",
        "id": "product_count",
        "label": "Number of products to show",
        "default": "3",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          }
        ]
      }
    ]
  }

{% endschema %}
