<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--one-whole large-up--eight-twelfths large-up--push-two-twelfths">

      <div class="faqs-footer">
        <div class="faqs-footer__title">
          {% if section.settings.title != blank %}
            <h3>{{section.settings.title}}</h3>
          {% endif %}
          {%- if section.settings.text != blank -%}
            <p>{{section.settings.text}}</p>
          {%- endif -%}
        </div>

        <div class="faqs-footer__link-wrapper">
          {% if section.settings.enable_1 %}
            <div class="faqs-footer__link">
              <a href="{% if section.settings.link_1 != blank %}{{section.settings.link_1}}{%else%}#!{% endif %}" title="{{section.settings.link_title_1}}">
                {%- if section.settings.link_image_1 -%}
                  <img src="{{section.settings.link_image_1 | img_url: '400x' }}" alt="{{section.settings.link_image_1.alt}}"/>
                {%- endif -%}
                {%- if section.settings.link_title_1 != blank -%}
                  <h5>{{section.settings.link_title_1}}</h5>
                {%- endif -%}
              </a>
            </div>
          {% endif %}

          {% if section.settings.enable_2 %}
            <div class="faqs-footer__link">
              <a href="{% if section.settings.link_2 != blank %}{{section.settings.link_2}}{%else%}#!{% endif %}" title="{{section.settings.link_title_2}}">
                {%- if section.settings.link_image_2 -%}
                  <img src="{{section.settings.link_image_2 | img_url: '400x' }}" alt="{{section.settings.link_image_2.alt}}"/>
                {%- endif -%}
                {%- if section.settings.link_title_2 != blank -%}
                  <h5>{{section.settings.link_title_2}}</h5>
                {%- endif -%}
              </a>
            </div>
          {%- endif -%}
        </div>
      </div>

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Returns footer",
    "settings": [
      {
        "type": "header",
        "content": "Returns footer"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },

      {
        "type": "checkbox",
        "id": "enable_1",
        "label": "Show image one"
      },
      {
        "type": "url",
        "id": "link_1",
        "label": "Link one"
      },
      {
        "type": "text",
        "id": "link_title_1",
        "label": "Link title one"
      },
      {
        "type": "image_picker",
        "id": "link_image_1",
        "label": "Link image one"
      },

      {
        "type": "checkbox",
        "id": "enable_2",
        "label": "Show image two"
      },
      {
        "type": "url",
        "id": "link_2",
        "label": "Link two"
      },
      {
        "type": "text",
        "id": "link_title_2",
        "label": "Link title two"
      },
      {
        "type": "image_picker",
        "id": "link_image_2",
        "label": "Link image two"
      }

    ]
  }
{% endschema %}