<style>
  {% if section.settings.logo != blank %}
    .site-header__logo-image {
      max-width: {{ section.settings.logo_max_width }}px;
    }
  {% endif %}
</style>

{% capture logohtml %}
  {% if template.name == 'index' %}
    <h1 class="site-header__site-logo" itemscope itemtype="http://schema.org/Organization">
  {% else %}
    <div class="h1 site-header__site-logo"  itemscope itemtype="http://schema.org/Organization">
  {% endif %}
    <a href="/" itemprop="url" >
      {% if section.settings.logo != blank %}
        {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
        <img src="{{ section.settings.logo | img_url: image_size }}"
              srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
              alt="{{ section.settings.logo.alt | default: shop.name }}"
              itemprop="logo">
      {% else %}
        {{ shop.name }}
      {% endif %}
    </a>
  {% if template.name == 'index' %}
    </h1>
  {% else %}
    </div>
  {% endif %}
{% endcapture %}

<div js-site-header="true" class="site-header 
  {% if section.settings.logo_position == 'left' %} site-header--left-align {% endif %}"  
  data-section-id="{{ section.id }}" data-section-type="site-header-section">

  <div class="page-width">
    
    {% include 'site-header-navigation' %}

    <header class="site-header__header" role="banner">
      
      <div js-mobile-nav="toggle" class="site-header__hamburger-container">
        {% comment %} <div class="site-header__hamburger"></div> {% endcomment %}
        {% include 'icons' with icon: 'hamburger-wolf' %}
      </div>

      {{logohtml}}

      {% comment %} {% if section.settings.enable_full_screen_search %}{% include 'search-form' %}{% endif %} {% endcomment %}

    </header>

    {% if section.settings.enable_usp %}
      <div class="site-header__usp">
        {% if section.settings.usp_image != blank %}
          <img src="{{ section.settings.usp_image | img_url: '100x' }}" alt="{{ section.settings.usp_image.alt }}"/>
        {% endif %}
        {% if section.settings.usp_text %}
          <span>{{ section.settings.usp_text }}</span>
        {% endif %}
      </div>
    {% endif %}


    <div class="site-header__misc">
      <ul>

        <li>
          <a href="#"  class="site-header__search-icon">
          {% include 'icons' with icon: 'search-wolf' %}
            {% unless section.settings.enable_full_screen_search %}
              {% include 'search-form--basic' %}
            {% endunless %}
          </a>
        </li>

        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li class="site-header__mobile-hide">
                <a href="/account">
                  {% include 'icons' with icon: 'account-wolf' %}
                </a>
            </li>
          {% else %}
            <li class="site-header__mobile-hide">
              <a href="/account/login">
                {% include 'icons' with icon: 'account-wolf' %}
              </a>
            </li>
          {% endif %}
        {% endif %}

        <li>
          <a href="/cart" id="Cart-icon" class="site-header__cart-icon">
            <div class="cart-icon__container">
              <span id="CartCount" class="js-cart-item-count cart-count {% if cart.item_count != 0 %}cart-count--show{% endif %}">{{ cart.item_count }}</span>
              {% include 'icons' with icon: 'cart-wolf' %}
            </div>
          </a>
        </li>

      </ul>
    </div>
  </div>
  
</div>

{% include 'ajax-cart' %}

{% include 'site-header-navigation-mobile' %}

<div js-site-header="overlay" class="site-header__overlay">{% comment %}Do not delete this div{% endcomment %}</div>

{% schema %}
  {
    "name": "Site Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "select",
        "id": "logo_position",
        "label":     "Position of Logo",
        "options": [
          {
           "value": "left",
           "label": "Left"
          },
          {
           "value": "center",
           "label": "Centre"
          }
        ],
        "default":   "center"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "header",
        "content": "Desktop menu"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Mobile menu",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Mobile menu"
      },   
      {
        "type": "header",
        "content": "Desktop only USP"
      },
      {
        "type": "checkbox",
        "id": "enable_usp",
        "label": "Enable USP",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "usp_image",
        "label": "USP Image"
      },
      {
        "type": "text",
        "id": "usp_text",
        "label": "USP text"
      }
    ],
    "blocks": [
      {
        "type": "meganav",
        "name": "Meganav",
        "settings": [
          {
            "type": "text",
            "id": "navlink_bind",
            "label": "Which menu item does this dropdown belong to?"
          },
          {
            "type": "header",
            "content": "List"
          },
          {
            "type": "text",
            "id": "meganav_list_title",
            "label": "List title"
          },
          {
            "type": "checkbox",
            "id": "meganav_linklist_title_1",
            "label": "Show this menu's title"
          },
          {
            "type": "link_list",
            "id": "meganav_linklist_1",
            "label": "List one menu"
          },
          {
            "type": "header",
            "content": "Image links"
          },
          {
            "type": "text",
            "id": "images_title",
            "label": "Header title"
          },
          {
            "type": "text",
            "id": "meganav_image_title_1",
            "label": "Image title"
          },

          {
            "type": "url",
            "id": "meganav_image_link_1",
            "label": "Image link"
          },
          {
            "type": "image_picker",
            "id": "meganav_image_1",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "meganav_image_title_2",
            "label": "Image title"
          },

          {
            "type": "url",
            "id": "meganav_image_link_2",
            "label": "Image link"
          },
          {
            "type": "image_picker",
            "id": "meganav_image_2",
            "label": "Image"
          },


          {
            "type": "text",
            "id": "meganav_image_title_3",
            "label": "Image title"
          },

          {
            "type": "url",
            "id": "meganav_image_link_3",
            "label": "Image link"
          },
          {
            "type": "image_picker",
            "id": "meganav_image_3",
            "label": "Image"
          },

          {
            "type": "text",
            "id": "meganav_image_title_4",
            "label": "Image title"
          },

          {
            "type": "url",
            "id": "meganav_image_link_4",
            "label": "Image link"
          },
          {
            "type": "image_picker",
            "id": "meganav_image_4",
            "label": "Image"
          },

          {
            "type": "text",
            "id": "meganav_image_title_5",
            "label": "Image title"
          },

          {
            "type": "url",
            "id": "meganav_image_link_5",
            "label": "Image link"
          },
          {
            "type": "image_picker",
            "id": "meganav_image_5",
            "label": "Image"
          },

          {
            "type": "text",
            "id": "meganav_image_title_6",
            "label": "Image title"
          },

          {
            "type": "url",
            "id": "meganav_image_link_6",
            "label": "Image link"
          },
          {
            "type": "image_picker",
            "id": "meganav_image_6",
            "label": "Image"
          },


          {
            "type": "text",
            "id": "meganav_image_title_7",
            "label": "Image title"
          },

          {
            "type": "url",
            "id": "meganav_image_link_7",
            "label": "Image link"
          },
          {
            "type": "image_picker",
            "id": "meganav_image_7",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}