<style>
  {% if section.settings.logo != blank %}
    .site-header__logo-image {
      max-width: {{ section.settings.logo_max_width }}px;
    }
  {% endif %}
</style>

{% capture logohtml %}
  {% if template.name == 'index' %}
    <h1 class="site-header__site-logo" itemscope itemtype="http://schema.org/Organization">
  {% else %}
    <div class="h1 site-header__site-logo"  itemscope itemtype="http://schema.org/Organization">
  {% endif %}
    <a href="/" itemprop="url" title="{{section.settings.logo.alt}}">
      {% if section.settings.logo != blank %}
        {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
        <img src="{{ section.settings.logo | img_url: image_size }}"
              srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
              alt="{{ section.settings.logo.alt | default: shop.name }}"
              itemprop="logo">
      {% else %}
        {{ shop.name }}
      {% endif %}
    </a>
  {% if template.name == 'index' %}
    </h1>
  {% else %}
    </div>
  {% endif %}
{% endcapture %}

<div js-site-header="true" class="site-header 
  {% if section.settings.logo_position == 'left' %} site-header--left-align {% endif %}"  
  data-section-id="{{ section.id }}" data-section-type="site-header-section">

  <div class="page-width">
    
    {% include 'site-header-navigation' %}

    <header class="site-header__header" role="banner">
      
      <div js-mobile-nav="toggle" class="site-header__hamburger-container">
        {% include 'icons' with icon: 'hamburger-wolf' %}
      </div>

      {{logohtml}}

    </header>

    {% if page.handle contains 'about' %}
      {% if section.settings.enable_usp_about %}
        <div class="site-header__usp">
          {% if section.settings.usp_url_about %}<a href="{{section.settings.usp_url_about}}" title="{{ section.settings.usp_text_about }}">{% endif %}
          {% if section.settings.usp_image_about != blank %}
            <img src="{{ section.settings.usp_image_about | img_url: '100x' }}" alt="{{ section.settings.usp_image_about.alt }}"/>
          {% endif %}
          {% if section.settings.usp_text_about %}
            <span>{{ section.settings.usp_text_about }}</span>
          {% endif %}
          {% if section.settings.usp_url_about %}</a>{% endif %}
        </div>
      {% endif %}
    {% else %}
      {% if section.settings.enable_usp %}
        <div class="site-header__usp">
          {% if section.settings.usp_url %}<a href="{{section.settings.usp_url}}" title=="{{ section.settings.usp_text }}">{% endif %}
          {% if section.settings.usp_image != blank %}
            <img src="{{ section.settings.usp_image | img_url: '100x' }}" alt="{{ section.settings.usp_image.alt }}"/>
          {% endif %}
          {% if section.settings.usp_text %}
            <span>{{ section.settings.usp_text }}</span>
          {% endif %}
          {% if section.settings.usp_url %}</a>{% endif %}
        </div>
      {% endif %}
    {% endif %}

    
    <div class="site-header__misc">
      <ul>

        <li>
          <a href="#"  class="site-header__search-icon" title="Search store">
          {% include 'icons' with icon: 'search-wolf' %}
            {% unless section.settings.enable_full_screen_search %}
              {% include 'search-form--basic' %}
            {% endunless %}
          </a>
        </li>

        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li class="site-header__mobile-hide">
                <a href="/account" title="Account">
                  {% include 'icons' with icon: 'account-wolf' %}
                </a>
            </li>
          {% else %}
            <li class="site-header__mobile-hide">
              <a href="/account/login" title="Login">
                {% include 'icons' with icon: 'account-wolf' %}
              </a>
            </li>
          {% endif %}
        {% endif %}

        <li>
          <a href="/cart" id="Cart-icon" class="site-header__cart-icon" title="Cart">
            <div class="cart-icon__container {% if cart.item_count != 0 %}is-active{% endif %}">
              {% include 'icons' with icon: 'cart-wolf' %}
              <span class="js-cart-item-count cart-count">{{ cart.item_count }}</span>
            </div>
          </a>
        </li>

      </ul>
    </div>
  </div>
  
</div>

{% include 'ajax-cart' %}

{% include 'site-header-navigation-mobile' %}

<div js-site-header="overlay" class="site-header__overlay">{% comment %}Do not delete this div{% endcomment %}</div>

{% schema %}
  {
    "name": "Site Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "select",
        "id": "logo_position",
        "label":     "Position of Logo",
        "options": [
          {
           "value": "left",
           "label": "Left"
          },
          {
           "value": "center",
           "label": "Centre"
          }
        ],
        "default":   "center"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "header",
        "content": "Desktop menu"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Main menu",
        "default": "main-menu"
      }, 
      {
        "type": "header",
        "content": "Desktop only USP"
      },
      {
        "type": "checkbox",
        "id": "enable_usp",
        "label": "Enable USP",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "usp_image",
        "label": "USP Image"
      },
      {
        "type": "text",
        "id": "usp_text",
        "label": "USP text"
      },
      {
        "type": "url",
        "id": "usp_url",
        "label": "USP URL"
      },
      {
        "type": "header",
        "content": "About page USP"
      },
      {
        "type": "checkbox",
        "id": "enable_usp_about",
        "label": "Enable USP",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "usp_image_about",
        "label": "USP Image"
      },
      {
        "type": "text",
        "id": "usp_text_about",
        "label": "USP text"
      },
      {
        "type": "url",
        "id": "usp_url_about",
        "label": "USP URL"
      },

      {
        "type": "header",
        "content": "Mobile menu links"
      },
      {
        "type": "richtext",
        "id": "mobile_footer_title_one",
        "label": "Mobile footer title one"
      },
      {
        "type": "url",
        "id": "mobile_footer_one",
        "label": "Mobile footer link one"
      },
      {
        "type": "richtext",
        "id": "mobile_footer_title_two",
        "label": "Mobile footer title two"
      },
      {
        "type": "url",
        "id": "mobile_footer_two",
        "label": "Mobile footer link two"
      },
      {
        "type": "header",
        "content": "Mega menu settings"
      },
      {
        "type": "text",
        "id": "navlink_bind",
        "label": "Which menu item does this dropdown belong to?"
      },
      {
        "type": "link_list",
        "label": "Mega menu list",
        "id": "mega_link_list"
      },
      {
        "type": "text",
        "label": "Mega menu images title",
        "id": "mega_title"
      }

    ],
    "max_blocks": 8,
    "blocks": [
      {
        "type": "meganav",
        "name": "Meganav menu item",
        "settings": [
          {
            "type": "text",
            "id": "meganav_image_title",
            "label": "Image title"
          },
          {
            "type": "url",
            "id": "meganav_image_link",
            "label": "Image link"
          },
          {
            "type": "image_picker",
            "id": "meganav_image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}